# Table of FSA approved premises

## Import required libraries

In [13]:
import re
import collections
import getpass
from pathlib import Path
import numpy as np
import pandas as pd
import nltk
nltk.download('punkt')
import epydemiology as epy

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/philipjones/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [14]:
import pymysql
import sqlalchemy
#engine = sqlalchemy.create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')

## Define functions that will combine lists of FSA approved premises
List needs to order files in chronological order so that the most recent file represents the most up-to-date information.

In [15]:
def phjUpdateData(phjOriginalDF,
                  phjNewDF,
                  phjColsOfInterestList,
                  phjIDColName = 'id',
                  phjYrColName = 'yr',
                  phjMthColName = 'mth',
                  phjGrpColName = 'grp',
                  phjNameColName = 'name',
                  phjCountColName = 'count',
                  phjTokColName = 'tokens',
                  phjPrevTokColName = 'prevtokens',
                  phjJaccardColName = 'jd',
                  phjMatchColName = 'match',
                  phjPrintResults = False):
    
    # Other things to do:
    # • Check that cols of interest appear in both dataframes
    # • Check that year and month columns already appear in original DF
    # • Check no duplicates in phjGrpColName columns
    

    # Concatenate data frames and sort by appno, year and month to ensure
    # earliest rows occur as first row in each group.
    phjConcatDF = pd.concat([phjOriginalDF,phjNewDF],sort = False).sort_values(by = [phjGrpColName,
                                                                                     phjYrColName,
                                                                                     phjMthColName])

    # Reset index to make sure no duplicated values in index
    phjConcatDF = phjConcatDF.reset_index(drop = True)

    # Add count column to indicate how many rows in each groupby group
    phjConcatDF[phjCountColName] = phjConcatDF.groupby(phjGrpColName)[phjGrpColName].transform('count')
    
    if phjPrintResults == True:
        print('Concatenated dataframe\n======================')
        print(phjConcatDF)
        print('\n')

        print('Groups that appear only once (i.e. occur only in either original or new dataframes')
        print('==================================================================================')
        print(phjConcatDF.loc[phjConcatDF[phjCountColName] < 2,:])
        print('\n')

        print('Groups that appear more than twice (i.e. already two occurrences of group in database')
        print('=====================================================================================')
        print(phjConcatDF.loc[phjConcatDF[phjCountColName] > 2,:])
        print('\n')

    # Create mask indicating the first rows of any groups with more than two rows, leaving the last
    # two rows only for further processing.
    # Suggestion for this method given as answer by Nick Becker in response to question at:
    # https://stackoverflow.com/questions/59761547/create-mask-to-identify-final-two-rows-in-groups-in-pandas-dataframe
    phjLast2RowsMask = phjConcatDF.index.isin(phjConcatDF.groupby(phjGrpColName).tail(2).index)

    # Add columns of tokens and tokens from previous rows
    phjLast2RowsDF = phjAddColOfTokens(phjDF = phjConcatDF[phjLast2RowsMask],
                                       phjNameColName = phjNameColName,
                                       phjTokColName = phjTokColName,
                                       phjPrevTokColName = phjPrevTokColName,
                                       phjGrpColName = phjGrpColName,
                                       phjYrColName = phjYrColName,
                                       phjMthColName = phjMthColName,
                                       phjPrintResults = phjPrintResults)
    
    if phjPrintResults == True:
        print('Token columns added (only last 2 rows of each group retained)\n===================')
        print(phjLast2RowsDF)
        print('\n')
    
    # Compare tokens and previous tokens using Jaccard distance
    phjLast2RowsDF = phjCompareTokCols(phjDF = phjLast2RowsDF,
                                       phjGrpColName = phjGrpColName,
                                       phjTokColName = phjTokColName,
                                       phjPrevTokColName = phjPrevTokColName,
                                       phjJaccardColName = phjJaccardColName,
                                       phjPrintResults = phjPrintResults)
     
    # Define names that have changed
    phjLast2RowsDF = phjDefineChangedNames(phjDF = phjLast2RowsDF,
                                           phjGrpColName = phjGrpColName,
                                           phjNameColName = phjNameColName,
                                           phjJaccardColName = phjJaccardColName,
                                           phjMatchColName = phjMatchColName,
                                           phjCutOffValue = 0.5,
                                           phjPrintResults = phjPrintResults)
    
    # Remove unchanged names
    phjLast2RowsDF = phjRemoveUnchanged(phjDF = phjLast2RowsDF,
                                        phjIDColName = phjIDColName,
                                        phjGrpColName = phjGrpColName,
                                        phjMatchColName = phjMatchColName,
                                        phjCountColName = phjCountColName,
                                        phjPrintResults = phjPrintResults)
    
    # Re-attach the first rows from groups with more than 2 rows
    phjConcatDF = phjConcatDF[~phjLast2RowsMask].append(phjLast2RowsDF,
                                                        ignore_index = False,
                                                        sort = False)
    
    if phjPrintResults == True:
        print('Recombined dataframes\n=====================')
        print(phjConcatDF)
        print('\n')

    # Update id column
    phjConcatDF = phjUpdateID(phjDF = phjConcatDF,
                              phjIDColName = phjIDColName,
                              phjYrColName = phjYrColName,
                              phjMthColName = phjMthColName,
                              phjPrintResults = phjPrintResults)
    
    # Some final corrections...
    phjConcatDF[phjIDColName] = phjConcatDF[phjIDColName].astype('int')
    phjConcatDF[phjYrColName] = phjConcatDF[phjYrColName].astype('int')
    phjConcatDF[phjMthColName] = phjConcatDF[phjMthColName].astype('int')
    phjConcatDF = phjConcatDF.reset_index(drop = True)
    phjConcatDF = phjConcatDF.sort_values(by = [phjGrpColName,phjYrColName,phjMthColName])
    
    if phjPrintResults == True:
        print('Final returned dataframe\n===================')
        print(phjConcatDF)
        print('\n')

        
    return phjConcatDF



# This function does some preprocessing to ensure only data of interest is retained and that minor
# anomalies in data entry are addressed (e.g. upper and lower case, punction marks, white space, etc.)
def phjPreProcess(phjDF,
                  phjCountryDF,
                  phjCountryMissCode,
                  phjColsOfInterestList,
                  phjPrintResults = False):
    
    # Convert column names to lowercase, remove spaces and '???' characters ... just for consistency
    # (For some reason, the AppNo column in Dec 2019 was called '???AppNo')
    phjDF.columns = phjDF.columns.str.replace(' ','').str.replace('\?\?\?','').str.lower()

    # Retain only the columns of interest
    phjDF = phjDF[phjColsOfInterestList].copy()
    
    # Retain slaughterhouse approved premises only
    phjDF['slaughterhouse'] = phjDF['slaughterhouse'].str.lower()
    phjDF = phjDF.loc[phjDF['slaughterhouse'] == 'yes',:].copy()
    
    # Remove whitespace from front and back of trading name column
    phjDF['tradingname'] = phjDF['tradingname'].str.strip()
    
    # Format the appno column to make uppercase and remove white space
    phjDF['appno'] = phjDF['appno'].str.upper().str.replace('[^\w]','')
    
    # Add a column that contains the trading name but in lower case and with all punctuation
    # and spaces removed. Also, '&' is converted to 'and' and 'ltd' to 'limited'. This ensures
    # that subtle variations in the way the TradingName is written won't be misinterpreted as
    # a different company.
    # Actually probably not needed and not used - but leave for the moment
    phjDF['tradingname_lcase'] = phjDF['tradingname'].str.replace('&','and').str.replace('[Ll]td','limited').str.replace('[Bb]ros','Brothers').str.lower().str.replace('[^\w]','')

    # Add column with postcode formatted to 7 characters
    phjDF = epy.phjPostcodeFormat7(phjDF = phjDF,
                                   phjPostcodeVarName = 'postcode',
                                   phjPostcodeCheckVarName = None,
                                   phjPostcode7VarName = 'postcode7',
                                   phjPrintResults = False)

    # Display all countries contained in file
    phjDF['country'].value_counts()
    
    # Replace country names with country codes defined in phjCountryDF
    phjDF = pd.merge(phjDF,
                     phjCountryDF,
                     on = "country",
                     how = 'left')
    
    phjDF['country_id'] = phjDF['country_id'].fillna(phjCountryMissCode)
    
    # Remove original postcode and country columns
    phjDF = phjDF[[col for col in list(phjDF.columns) if col not in ['postcode','country']]].copy()

    return phjDF



# Combine two dataframes ensuring that if there are any repeated rows, only the latest version is retained.

def phjRetrieveOrigData():
    
    return None



# Following function flattens a list that contains lists providing the nested lists are
# only 1 level deep.
def phjFlattenList(phjList):

    flatlist = []

    for sublist in phjList:
        if isinstance(sublist,list):
            for item in sublist:
                flatlist.append(item)
        else:
            flatlist.append(sublist)

    return flatlist



def phjAddColOfTokens(phjDF,
                      phjNameColName,
                      phjTokColName,
                      phjPrevTokColName,
                      phjGrpColName,
                      phjYrColName,
                      phjMthColName,
                      phjPrintResults = False):
    
    # Create a column of tokens found in the name column

    phjStopList = ['(',')','/','&',',','-','–','—','and','the','limited']

    phjReplaceDict = {'t/a':'ta',
                      'ltd':'limited',
                      'bros':'brothers',
                      '&':'and',
                      '2sisters':[2,'sisters']}
    
    # Sort data based on grouping variable and date variables
    phjDF = phjDF.sort_values(by = [phjGrpColName,
                                    phjYrColName,
                                    phjMthColName])
    
    # Remove items from phjStopList and replace any items in list using a dictionary lookup
    # (The dictionary replacements may result in some lists-within-a-list scenarios; the function
    # phjFlattenList() flattens lists providing the nested lists are only 1 deep.)
    # The replace() functions convert hyphens and n and m dashes to spaces.
    phjDF[phjTokColName] = phjDF[phjNameColName].apply(lambda x: [tok for tok in phjFlattenList([phjReplaceDict.get(i,i) for i in nltk.word_tokenize(x.lower().replace('-',' ').replace('–',' ').replace('—',' '))]) if tok not in phjStopList])


    # Create a new column with tokens offset by 1 place so new column contains the
    # tokens from the previous row
    phjDF[phjPrevTokColName] = phjDF[phjTokColName].shift(1)
    
    return phjDF



def phjCompareTokCols(phjDF,
                      phjGrpColName,
                      phjTokColName,
                      phjPrevTokColName,
                      phjJaccardColName,
                      phjPrintResults = False):

    # Need to check that index does not include duplicate values (because next line makes changes
    # based on index position)
    if len(list(phjDF.index)) == len(set(list(phjDF.index))):

        # For each group (groupby appno), the first row can't be compared with the preceding
        # row. Therefore, remove the tokens from the preceding row. The method for doing this
        # was given by EdChum - Reinstate Monica at
        # https://stackoverflow.com/questions/46242488/change-first-element-of-each-group-in-pandas-dataframe
        phjDF.loc[phjDF.groupby(phjGrpColName)[phjPrevTokColName].head(1).index, phjPrevTokColName] = np.nan

        # In groups with two rows, compare tokens with previous tokens using NLTK's Jaccard Distance
        # (Only calculate Jaccard distance if the prevtokens column contains a list i.e. don't try to calculate
        # difference if the prevtokens column contains a NaN value)
        phjDF[phjJaccardColName] = phjDF.apply(lambda x: nltk.jaccard_distance(set(x[phjTokColName]),set(x[phjPrevTokColName])) if isinstance(x[phjPrevTokColName],list) else np.nan,axis = 1)

        if phjPrintResults == True:
            print('Token columns compared\n======================')
            print(phjDF)
            print('\n')
    
    else:
        print("Index values not unique")
        phjDF = None
        
    return phjDF



def phjDefineChangedNames(phjDF,
                          phjGrpColName,
                          phjNameColName,
                          phjJaccardColName,
                          phjMatchColName,
                          phjCutOffValue = 0.5,
                          phjPrintResults = False):
    
    # Get a list of the indexes of rows where Jaccard distance is greater than 0
    phAlteredNamesIndexList = list(phjDF.loc[phjDF['jd'].gt(0),[phjGrpColName,phjNameColName,phjJaccardColName]].index)

    # Edit to include index of immediately preceding row
    phAlteredNamesIndexList = phAlteredNamesIndexList + [i-1 for i in phAlteredNamesIndexList]

    # Sort list to ensure consecutive index numbers are adjacent to each other
    phAlteredNamesIndexList.sort()

    # Provide a cut-off to interpret Jaccard distance
    phjDF[phjMatchColName] = phjDF['jd'].lt(phjCutOffValue)
    phjDF[phjMatchColName] = phjDF[phjMatchColName].replace({1:'yes',0:'no'})

    phjDF.loc[phjDF[phjJaccardColName].isnull(),phjMatchColName] = np.nan

    if phjPrintResults == True:
        print('Altered rows of data\n====================')
        print(phjDF.loc[phAlteredNamesIndexList,:])
        print('\n')
        
    return phjDF



def phjRemoveUnchanged(phjDF,
                       phjIDColName,
                       phjGrpColName,
                       phjMatchColName,
                       phjCountColName,
                       phjPrintResults = False):
    
    # If name has not changed then keep only the last row in the group (but ensure the same id number is retained).
    # If the trading name has changed then keep both rows in the group. The suggested approach to produce the
    # above was given as an answer by Erfin at:
    # https://stackoverflow.com/questions/59568154/updating-a-pandas-dataframe-with-new-data-whilst-retaining-existing-id-number

    mask_yes = phjDF[phjMatchColName].eq('yes') # array with True for rows with 'yes'
    mask_no = phjDF[phjMatchColName].eq('no')   # array with True for rows with 'no'
    mask_single = phjDF[phjCountColName].eq(1)  # array with True for rows in single-row groups


    # if the row is 'yes', get the shifted id, else the original id
    phjDF[phjIDColName] = np.where(mask_yes, phjDF[phjIDColName].shift(), phjDF[phjIDColName]) 

    # if a group has 'no' mark all rows as True so we can keep the whole group
    mask = phjDF.assign(indicator=mask_no).groupby(phjGrpColName)['indicator'].transform('any')

    # filter on groups with 'no' or only the row 'yes'
    phjDF = phjDF[mask | mask_yes | mask_single]

    if phjPrintResults == True:
        print('Updated dataframe\n=================')
        print(phjDF)
        print('\n')

    return phjDF



def phjUpdateID(phjDF,
                phjIDColName = 'id',
                phjYrColName = 'yr',
                phjMthColName = 'mth',
                phjPrintResults = False):
    
    # Sort dataframe by ID and date columns, ensuring that NaNs are left at the end
    phjDF = phjDF.sort_values(by = [phjIDColName,phjYrColName,phjMthColName],
                              na_position = 'last')
    
    # Create a list of new ID values that follow-on from those ID values that already exist.
    # But first, need to check whether the max() value is null (which can happen if the dataframe is empty).
    if pd.isnull(phjDF[phjIDColName].max()):
        phjNewIDs = list(range(1,
                         len(phjDF.loc[phjDF[phjIDColName].isnull(),:]) + 1))
    else:
        phjNewIDs = list(range(phjDF[phjIDColName].max().astype(int) + 1,
                               phjDF[phjIDColName].max().astype(int) + len(phjDF.loc[phjDF[phjIDColName].isnull(),:]) + 1))

    # Where ID values are NaN, replace with range of new IDs
    phjDF.loc[phjDF[phjIDColName].isnull(),[phjIDColName]] = phjNewIDs

    if phjPrintResults == True:
        print('Updated ID values\n=================')
        print(phjDF)
        print('\n')
    
    return phjDF

## Testing with hypothetical data

In [16]:
# Define missing codes
phjMissingCodesDict = {'phjMissValueStr':'missing',
                       'phjCPHCountyMissCode':999,
                       'phjCountryMissCode':99,
                       'phjAnimSrcMissCode':400,
                       'phjSppGrpMissCode':99,
                       'phjOffCCIRMissCode':999,
                       'phjInspectionTypeMissCode':785}

# Define country codes
phjCountryDF = pd.DataFrame({'country_id':[1,2,3,4,5,6,7,phjMissingCodesDict['phjCountryMissCode']],
                             'country':['England','Wales','Scotland','Northern Ireland','Guernsey','Jersey','Isle of Man','missing']})

print(phjCountryDF)
print(phjCountryDF.dtypes)
print('\n')

phjColsOfInterestList = ['premisesname_id','appno','tradingname','country','yr','mth','slaughterhouse','postcode']

# Original dataframe should include a column of premises ID
origDF = pd.DataFrame({'premisesname_id':[1,2,3,4,5,6,11,12,13,7,8,9,10],
                       'appno':['123','226','321','356','403','556','556','556','556','598','612','663','785'],
                       'tradingname':['Smith and Jones','ABC Ltd','Stuff Galore Ltd','Quality Food','Pure Heaven','XYZ Foods','ABC Foods','LMN Foods','AAA Foods','Fry Foods','Farm Foods','Good Eggs Limited','Farm to Fork Food'],
                       'country':['England','England','England','England','Wales','Scotland','Scotland','Scotland','Scotland','Wales','England','England','Northern Ireland'],
                       'yr':[2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018],
                       'mth':[4,4,4,4,4,1,2,3,4,4,4,4,4],
                       'slaughterhouse':['yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes','yes'],
                       'postcode':['np45df','ab123df','w14sd','cd49gs','eg349dg','h118gs','h118gs','h118gs','h118gs','j28gd','h89ad','p98gs','ts19yu']})

# Preprocess the original file
origDF = phjPreProcess(phjDF = origDF,
                       phjCountryDF = phjCountryDF,
                       phjCountryMissCode = phjMissingCodesDict['phjCountryMissCode'],
                       phjColsOfInterestList = phjColsOfInterestList)

print('Original dataframe (post processing)\n==================')
print(origDF)
print('\n')



# New dataframe should have a column of premises ID but should be NaN initially
newDF = pd.DataFrame({'premisesname_id':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],
                      'appno':['123','226','356','403','556','598','663','785','444'],
                      'tradingname':['Smith and Jones Bros','2sisters ABC Ltd','Completely Different','Pure Heaven','AAA Foods','Fry & Sons Foods','Good Eggs Ltd','Farm-2-Fork Food','Food Heaven'],
                      'country':['England','England','England','Wales','Scotland','England','England','Northern Ireland','Wales'],
                      'yr':[2018,2018,2018,2018,2018,2018,2018,2018,2018],
                      'mth':[5,5,5,5,5,5,5,5,5],
                      'slaughterhouse':['yes','yes','yes','yes','yes','yes','yes','yes','yes'],
                      'postcode':['np45df','ab123df','w14sd','eg349dg','h118gs','j28gd','p98gs','ts19yu','xy987ab']})

# Preprocess the new file
newDF = phjPreProcess(phjDF = newDF,
                      phjCountryDF = phjCountryDF,
                      phjCountryMissCode = phjMissingCodesDict['phjCountryMissCode'],
                      phjColsOfInterestList = phjColsOfInterestList)

print('Newer dataframe (post processing)\n===============')
print(newDF)
print('\n')



phjCombinedDF = phjUpdateData(phjOriginalDF = origDF,
                              phjNewDF = newDF,
                              phjColsOfInterestList = phjColsOfInterestList,
                              phjIDColName = 'premisesname_id',
                              phjYrColName = 'yr',
                              phjMthColName = 'mth',
                              phjGrpColName = 'appno',
                              phjNameColName = 'tradingname',
                              phjCountColName = 'count',
                              phjTokColName = 'tokens',
                              phjPrevTokColName = 'prevtokens',
                              phjJaccardColName = 'jd',
                              phjMatchColName = 'samename',
                              phjPrintResults = True)

   country_id           country
0           1           England
1           2             Wales
2           3          Scotland
3           4  Northern Ireland
4           5          Guernsey
5           6            Jersey
6           7       Isle of Man
7          99           missing
country_id     int64
country       object
dtype: object


Original dataframe (post processing)
==================
    premisesname_id appno        tradingname    yr  mth slaughterhouse  \
0                 1   123    Smith and Jones  2018    4            yes
1                 2   226            ABC Ltd  2018    4            yes
2                 3   321   Stuff Galore Ltd  2018    4            yes
3                 4   356       Quality Food  2018    4            yes
4                 5   403        Pure Heaven  2018    4            yes
5                 6   556          XYZ Foods  2018    1            yes
6                11   556          ABC Foods  2018    2            yes
7                12   556          LMN Foods  2018    3            yes
8                13   556          AAA Foods  2018    4            yes
9                 7   598          Fry Foods  2018    4            yes
10                8   612         Farm Foods  2018    4            yes
11                9   663  Good Eggs Limited  2018    4            yes
12               10   785  Farm to Fork Food  2018    4            yes

     tradingname_lcase postcode7  country_id
0        smithandjones   NP4 5DF           1
1           abclimited   AB123DF           1
2   stuffgalorelimited   W1  4SD           1
3          qualityfood   CD4 9GS           1
4           pureheaven   EG349DG           2
5             xyzfoods   H11 8GS           3
6             abcfoods   H11 8GS           3
7             lmnfoods   H11 8GS           3
8             aaafoods   H11 8GS           3
9             fryfoods   J2  8GD           2
10           farmfoods   H8  9AD           1
11     goodeggslimited   P9  8GS           1
12      farmtoforkfood   TS1 9YU           4


Newer dataframe (post processing)
===============
   premisesname_id appno           tradingname    yr  mth slaughterhouse  \
0              NaN   123  Smith and Jones Bros  2018    5            yes
1              NaN   226      2sisters ABC Ltd  2018    5            yes
2              NaN   356  Completely Different  2018    5            yes
3              NaN   403           Pure Heaven  2018    5            yes
4              NaN   556             AAA Foods  2018    5            yes
5              NaN   598      Fry & Sons Foods  2018    5            yes
6              NaN   663         Good Eggs Ltd  2018    5            yes
7              NaN   785      Farm-2-Fork Food  2018    5            yes
8              NaN   444           Food Heaven  2018    5            yes

       tradingname_lcase postcode7  country_id
0  smithandjonesbrothers   NP4 5DF           1
1     2sistersabclimited   AB123DF           1
2    completelydifferent   W1  4SD           1
3             pureheaven   EG349DG           2
4               aaafoods   H11 8GS           3
5        fryandsonsfoods   J2  8GD           1
6        goodeggslimited   P9  8GS           1
7          farm2forkfood   TS1 9YU           4
8             foodheaven   XY987AB           2


Concatenated dataframe
======================
    premisesname_id appno           tradingname    yr  mth slaughterhouse  \
0               1.0   123       Smith and Jones  2018    4            yes
1               NaN   123  Smith and Jones Bros  2018    5            yes
2               2.0   226               ABC Ltd  2018    4            yes
3               NaN   226      2sisters ABC Ltd  2018    5            yes
4               3.0   321      Stuff Galore Ltd  2018    4            yes
5               4.0   356          Quality Food  2018    4            yes
6               NaN   356  Completely Different  2018    5            yes
7               5.0   403           Pure Heaven  2018    4            yes
8               NaN   403           Pure Heaven  2018    5            yes
9               NaN   444           Food Heaven  2018    5            yes
10              6.0   556             XYZ Foods  2018    1            yes
11             11.0   556             ABC Foods  2018    2            yes
12             12.0   556             LMN Foods  2018    3            yes
13             13.0   556             AAA Foods  2018    4            yes
14              NaN   556             AAA Foods  2018    5            yes
15              7.0   598             Fry Foods  2018    4            yes
16              NaN   598      Fry & Sons Foods  2018    5            yes
17              8.0   612            Farm Foods  2018    4            yes
18              9.0   663     Good Eggs Limited  2018    4            yes
19              NaN   663         Good Eggs Ltd  2018    5            yes
20             10.0   785     Farm to Fork Food  2018    4            yes
21              NaN   785      Farm-2-Fork Food  2018    5            yes

        tradingname_lcase postcode7  country_id  count
0           smithandjones   NP4 5DF           1      2
1   smithandjonesbrothers   NP4 5DF           1      2
2              abclimited   AB123DF           1      2
3      2sistersabclimited   AB123DF           1      2
4      stuffgalorelimited   W1  4SD           1      1
5             qualityfood   CD4 9GS           1      2
6     completelydifferent   W1  4SD           1      2
7              pureheaven   EG349DG           2      2
8              pureheaven   EG349DG           2      2
9              foodheaven   XY987AB           2      1
10               xyzfoods   H11 8GS           3      5
11               abcfoods   H11 8GS           3      5
12               lmnfoods   H11 8GS           3      5
13               aaafoods   H11 8GS           3      5
14               aaafoods   H11 8GS           3      5
15               fryfoods   J2  8GD           2      2
16        fryandsonsfoods   J2  8GD           1      2
17              farmfoods   H8  9AD           1      1
18        goodeggslimited   P9  8GS           1      2
19        goodeggslimited   P9  8GS           1      2
20         farmtoforkfood   TS1 9YU           4      2
21          farm2forkfood   TS1 9YU           4      2


Groups that appear only once (i.e. occur only in either original or new dataframes
==================================================================================
    premisesname_id appno       tradingname    yr  mth slaughterhouse  \
4               3.0   321  Stuff Galore Ltd  2018    4            yes
9               NaN   444       Food Heaven  2018    5            yes
17              8.0   612        Farm Foods  2018    4            yes

     tradingname_lcase postcode7  country_id  count
4   stuffgalorelimited   W1  4SD           1      1
9           foodheaven   XY987AB           2      1
17           farmfoods   H8  9AD           1      1


Groups that appear more than twice (i.e. already two occurrences of group in database
=====================================================================================
    premisesname_id appno tradingname    yr  mth slaughterhouse  \
10              6.0   556   XYZ Foods  2018    1            yes
11             11.0   556   ABC Foods  2018    2            yes
12             12.0   556   LMN Foods  2018    3            yes
13             13.0   556   AAA Foods  2018    4            yes
14              NaN   556   AAA Foods  2018    5            yes

   tradingname_lcase postcode7  country_id  count
10          xyzfoods   H11 8GS           3      5
11          abcfoods   H11 8GS           3      5
12          lmnfoods   H11 8GS           3      5
13          aaafoods   H11 8GS           3      5
14          aaafoods   H11 8GS           3      5


Token columns added (only last 2 rows of each group retained)
===================
    premisesname_id appno           tradingname    yr  mth slaughterhouse  \
0               1.0   123       Smith and Jones  2018    4            yes
1               NaN   123  Smith and Jones Bros  2018    5            yes
2               2.0   226               ABC Ltd  2018    4            yes
3               NaN   226      2sisters ABC Ltd  2018    5            yes
4               3.0   321      Stuff Galore Ltd  2018    4            yes
5               4.0   356          Quality Food  2018    4            yes
6               NaN   356  Completely Different  2018    5            yes
7               5.0   403           Pure Heaven  2018    4            yes
8               NaN   403           Pure Heaven  2018    5            yes
9               NaN   444           Food Heaven  2018    5            yes
13             13.0   556             AAA Foods  2018    4            yes
14              NaN   556             AAA Foods  2018    5            yes
15              7.0   598             Fry Foods  2018    4            yes
16              NaN   598      Fry & Sons Foods  2018    5            yes
17              8.0   612            Farm Foods  2018    4            yes
18              9.0   663     Good Eggs Limited  2018    4            yes
19              NaN   663         Good Eggs Ltd  2018    5            yes
20             10.0   785     Farm to Fork Food  2018    4            yes
21              NaN   785      Farm-2-Fork Food  2018    5            yes

        tradingname_lcase postcode7  country_id  count  \
0           smithandjones   NP4 5DF           1      2
1   smithandjonesbrothers   NP4 5DF           1      2
2              abclimited   AB123DF           1      2
3      2sistersabclimited   AB123DF           1      2
4      stuffgalorelimited   W1  4SD           1      1
5             qualityfood   CD4 9GS           1      2
6     completelydifferent   W1  4SD           1      2
7              pureheaven   EG349DG           2      2
8              pureheaven   EG349DG           2      2
9              foodheaven   XY987AB           2      1
13               aaafoods   H11 8GS           3      5
14               aaafoods   H11 8GS           3      5
15               fryfoods   J2  8GD           2      2
16        fryandsonsfoods   J2  8GD           1      2
17              farmfoods   H8  9AD           1      1
18        goodeggslimited   P9  8GS           1      2
19        goodeggslimited   P9  8GS           1      2
20         farmtoforkfood   TS1 9YU           4      2
21          farm2forkfood   TS1 9YU           4      2

                      tokens                prevtokens
0             [smith, jones]                       NaN
1   [smith, jones, brothers]            [smith, jones]
2                      [abc]  [smith, jones, brothers]
3          [2, sisters, abc]                     [abc]
4            [stuff, galore]         [2, sisters, abc]
5            [quality, food]           [stuff, galore]
6    [completely, different]           [quality, food]
7             [pure, heaven]   [completely, different]
8             [pure, heaven]            [pure, heaven]
9             [food, heaven]            [pure, heaven]
13              [aaa, foods]            [food, heaven]
14              [aaa, foods]              [aaa, foods]
15              [fry, foods]              [aaa, foods]
16        [fry, sons, foods]              [fry, foods]
17             [farm, foods]        [fry, sons, foods]
18              [good, eggs]             [farm, foods]
19              [good, eggs]              [good, eggs]
20    [farm, to, fork, food]              [good, eggs]
21     [farm, 2, fork, food]    [farm, to, fork, food]


Token columns compared
======================
    premisesname_id appno           tradingname    yr  mth slaughterhouse  \
0               1.0   123       Smith and Jones  2018    4            yes
1               NaN   123  Smith and Jones Bros  2018    5            yes
2               2.0   226               ABC Ltd  2018    4            yes
3               NaN   226      2sisters ABC Ltd  2018    5            yes
4               3.0   321      Stuff Galore Ltd  2018    4            yes
5               4.0   356          Quality Food  2018    4            yes
6               NaN   356  Completely Different  2018    5            yes
7               5.0   403           Pure Heaven  2018    4            yes
8               NaN   403           Pure Heaven  2018    5            yes
9               NaN   444           Food Heaven  2018    5            yes
13             13.0   556             AAA Foods  2018    4            yes
14              NaN   556             AAA Foods  2018    5            yes
15              7.0   598             Fry Foods  2018    4            yes
16              NaN   598      Fry & Sons Foods  2018    5            yes
17              8.0   612            Farm Foods  2018    4            yes
18              9.0   663     Good Eggs Limited  2018    4            yes
19              NaN   663         Good Eggs Ltd  2018    5            yes
20             10.0   785     Farm to Fork Food  2018    4            yes
21              NaN   785      Farm-2-Fork Food  2018    5            yes

        tradingname_lcase postcode7  country_id  count  \
0           smithandjones   NP4 5DF           1      2
1   smithandjonesbrothers   NP4 5DF           1      2
2              abclimited   AB123DF           1      2
3      2sistersabclimited   AB123DF           1      2
4      stuffgalorelimited   W1  4SD           1      1
5             qualityfood   CD4 9GS           1      2
6     completelydifferent   W1  4SD           1      2
7              pureheaven   EG349DG           2      2
8              pureheaven   EG349DG           2      2
9              foodheaven   XY987AB           2      1
13               aaafoods   H11 8GS           3      5
14               aaafoods   H11 8GS           3      5
15               fryfoods   J2  8GD           2      2
16        fryandsonsfoods   J2  8GD           1      2
17              farmfoods   H8  9AD           1      1
18        goodeggslimited   P9  8GS           1      2
19        goodeggslimited   P9  8GS           1      2
20         farmtoforkfood   TS1 9YU           4      2
21          farm2forkfood   TS1 9YU           4      2

                      tokens              prevtokens        jd
0             [smith, jones]                     NaN       NaN
1   [smith, jones, brothers]          [smith, jones]  0.333333
2                      [abc]                     NaN       NaN
3          [2, sisters, abc]                   [abc]  0.666667
4            [stuff, galore]                     NaN       NaN
5            [quality, food]                     NaN       NaN
6    [completely, different]         [quality, food]  1.000000
7             [pure, heaven]                     NaN       NaN
8             [pure, heaven]          [pure, heaven]  0.000000
9             [food, heaven]                     NaN       NaN
13              [aaa, foods]                     NaN       NaN
14              [aaa, foods]            [aaa, foods]  0.000000
15              [fry, foods]                     NaN       NaN
16        [fry, sons, foods]            [fry, foods]  0.333333
17             [farm, foods]                     NaN       NaN
18              [good, eggs]                     NaN       NaN
19              [good, eggs]            [good, eggs]  0.000000
20    [farm, to, fork, food]                     NaN       NaN
21     [farm, 2, fork, food]  [farm, to, fork, food]  0.400000


Altered rows of data
====================
    premisesname_id appno           tradingname    yr  mth slaughterhouse  \
0               1.0   123       Smith and Jones  2018    4            yes
1               NaN   123  Smith and Jones Bros  2018    5            yes
2               2.0   226               ABC Ltd  2018    4            yes
3               NaN   226      2sisters ABC Ltd  2018    5            yes
5               4.0   356          Quality Food  2018    4            yes
6               NaN   356  Completely Different  2018    5            yes
15              7.0   598             Fry Foods  2018    4            yes
16              NaN   598      Fry & Sons Foods  2018    5            yes
20             10.0   785     Farm to Fork Food  2018    4            yes
21              NaN   785      Farm-2-Fork Food  2018    5            yes

        tradingname_lcase postcode7  country_id  count  \
0           smithandjones   NP4 5DF           1      2
1   smithandjonesbrothers   NP4 5DF           1      2
2              abclimited   AB123DF           1      2
3      2sistersabclimited   AB123DF           1      2
5             qualityfood   CD4 9GS           1      2
6     completelydifferent   W1  4SD           1      2
15               fryfoods   J2  8GD           2      2
16        fryandsonsfoods   J2  8GD           1      2
20         farmtoforkfood   TS1 9YU           4      2
21          farm2forkfood   TS1 9YU           4      2

                      tokens              prevtokens        jd samename
0             [smith, jones]                     NaN       NaN      NaN
1   [smith, jones, brothers]          [smith, jones]  0.333333      yes
2                      [abc]                     NaN       NaN      NaN
3          [2, sisters, abc]                   [abc]  0.666667       no
5            [quality, food]                     NaN       NaN      NaN
6    [completely, different]         [quality, food]  1.000000       no
15              [fry, foods]                     NaN       NaN      NaN
16        [fry, sons, foods]            [fry, foods]  0.333333      yes
20    [farm, to, fork, food]                     NaN       NaN      NaN
21     [farm, 2, fork, food]  [farm, to, fork, food]  0.400000      yes


Updated dataframe
=================
    premisesname_id appno           tradingname    yr  mth slaughterhouse  \
1               1.0   123  Smith and Jones Bros  2018    5            yes
2               2.0   226               ABC Ltd  2018    4            yes
3               NaN   226      2sisters ABC Ltd  2018    5            yes
4               3.0   321      Stuff Galore Ltd  2018    4            yes
5               4.0   356          Quality Food  2018    4            yes
6               NaN   356  Completely Different  2018    5            yes
8               5.0   403           Pure Heaven  2018    5            yes
9               NaN   444           Food Heaven  2018    5            yes
14             13.0   556             AAA Foods  2018    5            yes
16              7.0   598      Fry & Sons Foods  2018    5            yes
17              8.0   612            Farm Foods  2018    4            yes
19              9.0   663         Good Eggs Ltd  2018    5            yes
21             10.0   785      Farm-2-Fork Food  2018    5            yes

        tradingname_lcase postcode7  country_id  count  \
1   smithandjonesbrothers   NP4 5DF           1      2
2              abclimited   AB123DF           1      2
3      2sistersabclimited   AB123DF           1      2
4      stuffgalorelimited   W1  4SD           1      1
5             qualityfood   CD4 9GS           1      2
6     completelydifferent   W1  4SD           1      2
8              pureheaven   EG349DG           2      2
9              foodheaven   XY987AB           2      1
14               aaafoods   H11 8GS           3      5
16        fryandsonsfoods   J2  8GD           1      2
17              farmfoods   H8  9AD           1      1
19        goodeggslimited   P9  8GS           1      2
21          farm2forkfood   TS1 9YU           4      2

                      tokens              prevtokens        jd samename
1   [smith, jones, brothers]          [smith, jones]  0.333333      yes
2                      [abc]                     NaN       NaN      NaN
3          [2, sisters, abc]                   [abc]  0.666667       no
4            [stuff, galore]                     NaN       NaN      NaN

## Test with two files

In [17]:
# Path to directory
phjPath = './monthly_approved_premises'

# List of files
phjFilesList = ["approved-food-establishments-as-at-1-january-2018.csv",
                "approved-food-establishments-as-at-1-december-2019.csv"]

# Define missing codes
phjMissingCodesDict = {'phjMissValueStr':'missing',
                       'phjCPHCountyMissCode':999,
                       'phjCountryMissCode':999,
                       'phjAnimSrcMissCode':999,
                       'phjSppGrpMissCode':999,
                       'phjOffCCIRMissCode':999,
                       'phjInspectionTypeMissCode':999}

# Define country codes
phjCountryDF = pd.DataFrame({'country_id':[1,2,3,4,5,6,7,phjMissingCodesDict['phjCountryMissCode']],
                             'country':['England','Wales','Scotland','Northern Ireland','Guernsey','Jersey','Isle of Man','missing']})

print(phjCountryDF)
print(phjCountryDF.dtypes)
print('\n')

phjColsOfInterestList = ['appno','tradingname','town','postcode','country','slaughterhouse','x','y']

# Original dataframe should include a column of premises ID
# Read csv file
origDF = pd.read_csv(Path('/'.join([phjPath,phjFilesList[0]])))

# Preprocess the original file
origDF = phjPreProcess(phjDF = origDF,
                       phjCountryDF = phjCountryDF,
                       phjCountryMissCode = phjMissingCodesDict['phjCountryMissCode'],
                       phjColsOfInterestList = phjColsOfInterestList)

origDF['id'] = range(1,len(origDF.index)+1)
origDF = origDF[['id'] + [i for i in origDF.columns if i not in ['id']]]
origDF['yr'] = 2018
origDF['mth'] = 1


print('Original dataframe (post processing)\n==================')
print(origDF.sort_values(by = ['appno','id']))
print('\n')



# New dataframe should have a column of premises ID but should be NaN initially
newDF = pd.read_csv(Path('/'.join([phjPath,phjFilesList[1]])))


# Preprocess the new file
newDF = phjPreProcess(phjDF = newDF,
                      phjCountryDF = phjCountryDF,
                      phjCountryMissCode = phjMissingCodesDict['phjCountryMissCode'],
                      phjColsOfInterestList = phjColsOfInterestList)

newDF['id'] = np.nan
newDF = newDF[['id'] + [i for i in newDF.columns if i not in ['id']]]
newDF['yr'] = 2019
newDF['mth'] = 12

print('Newer dataframe (post processing)\n===============')
print(newDF.sort_values(by = ['appno','id']))
print('\n')



phjCombinedDF = phjUpdateData(phjOriginalDF = origDF,
                              phjNewDF = newDF,
                              phjColsOfInterestList = phjColsOfInterestList,
                              phjIDColName = 'id',
                              phjYrColName = 'yr',
                              phjMthColName = 'mth',
                              phjGrpColName = 'appno',
                              phjNameColName = 'tradingname',
                              phjCountColName = 'count',
                              phjTokColName = 'tokens',
                              phjPrevTokColName = 'prevtokens',
                              phjJaccardColName = 'jd',
                              phjMatchColName = 'samename',
                              phjPrintResults = True)

print(phjCombinedDF.sort_values(by = ['appno','id']))

   country_id           country
0           1           England
1           2             Wales
2           3          Scotland
3           4  Northern Ireland
4           5          Guernsey
5           6            Jersey
6           7       Isle of Man
7         999           missing
country_id     int64
country       object
dtype: object


Original dataframe (post processing)
==================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
281  282   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
282  283   1101             Anglo Beef Processors UK T/A ABP Perth
283  284   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
277  278   9509                                 Moy Park Ballymena
278  279   9518                             McKeown Fine Foods Ltd
279  280   9552                                     Kearns Poultry
280  281   9554                                   Rockvale Poultry
261  262  GX401                         State of Guernsey Abattoir

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
281      Coupar Angus            yes       NaN       NaN
282             Perth            yes       NaN       NaN
283           Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
277  BALLYMENA                   yes       NaN       NaN
278         BALLYMENA            yes       NaN       NaN
279        BALLYMENA             yes       NaN       NaN
280            ARMAGH            yes       NaN       NaN
261          Guernsey            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2018
1                     joesimpsontafsimpsonandson   DL135AA           1  2018
281  2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2018
282              anglobeefprocessorsuktaabpperth       NaN           3  2018
283             neerocklimitedtawoodheadbrothers       NaN           3  2018
..                                           ...       ...         ...   ...
277                             moyparkballymena   BT423HA           4  2018
278                      mckeownfinefoodslimited   BT448RN           4  2018
279                                kearnspoultry   BT449AA           4  2018
280                              rockvalepoultry   BT619ND           4  2018
261                      stateofguernseyabattoir   GY2 4JN           5  2018

     mth
0      1
1      1
281    1
282    1
283    1
..   ...
277    1
278    1
279    1
280    1
261    1

[340 rows x 12 columns]


Newer dataframe (post processing)
===============
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3   NaN  1101             Anglo Beef Processors UK T/A ABP Perth
4   NaN  1103            Neerock Limited (T/A Woodhead Brothers)
..   ..   ...                                                ...
308 NaN  9509                                 Moy Park Ballymena
309 NaN  9518                             McKeown Fine Foods Ltd
310 NaN  9552                                     Kearns Poultry
311 NaN  9554                                   Rockvale Poultry
312 NaN  IOM1                                  Isle of Man Meats

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
2        Coupar Angus            yes       NaN       NaN
3               Perth            yes       NaN       NaN
4             Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
308  BALLYMENA                   yes       NaN       NaN
309         BALLYMENA            yes       NaN       NaN
310        BALLYMENA             yes       NaN       NaN
311            ARMAGH            yes       NaN       NaN
312       Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
2    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
3                anglobeefprocessorsuktaabpperth       NaN           3  2019
4               neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
308                             moyparkballymena   BT423HA           4  2019
309                      mckeownfinefoodslimited   BT448RN           4  2019
310                                kearnspoultry   BT449AA           4  2019
311                              rockvalepoultry   BT619ND           4  2019
312                               isleofmanmeats   IM4 4QE           7  2019

     mth
0     12
1     12
2     12
3     12
4     12
..   ...
308   12
309   12
310   12
311   12
312   12

[313 rows x 12 columns]


Concatenated dataframe
======================
        id  appno                                        tradingname  \
0      1.0   1007                           Frank Bird (Poultry) Ltd
1      NaN   1007                           Frank Bird (Poultry) Ltd
2      2.0   1077                Joe Simpson (T/A F Simpson and Son)
3      NaN   1077                Joe Simpson (T/A F Simpson and Son)
4    282.0   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
..     ...    ...                                                ...
648    NaN   9552                                     Kearns Poultry
649  281.0   9554                                   Rockvale Poultry
650    NaN   9554                                   Rockvale Poultry
651  262.0  GX401                         State of Guernsey Abattoir
652    NaN   IOM1                                  Isle of Man Meats

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1            Penrith            yes  357081.0  533629.0
2    Bishop Auckland            yes  412803.0  524280.0
3    Bishop Auckland            yes  412803.0  524280.0
4       Coupar Angus            yes       NaN       NaN
..               ...            ...       ...       ...
648       BALLYMENA             yes       NaN       NaN
649           ARMAGH            yes       NaN       NaN
650           ARMAGH            yes       NaN       NaN
651         Guernsey            yes       NaN       NaN
652      Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2018
1                        frankbirdpoultrylimited   CA101NB           1  2019
2                     joesimpsontafsimpsonandson   DL135AA           1  2018
3                     joesimpsontafsimpsonandson   DL135AA           1  2019
4    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2018
..                                           ...       ...         ...   ...
648                                kearnspoultry   BT449AA           4  2019
649                              rockvalepoultry   BT619ND           4  2018
650                              rockvalepoultry   BT619ND           4  2019
651                      stateofguernseyabattoir   GY2 4JN           5  2018
652                               isleofmanmeats   IM4 4QE           7  2019

     mth  count
0      1      2
1     12      2
2      1      2
3     12      2
4      1      2
..   ...    ...
648   12      2
649    1      2
650   12      2
651    1      1
652   12      1

[653 rows x 13 columns]


Groups that appear only once (i.e. occur only in either original or new dataframes
==================================================================================
        id  appno                                        tradingname  \
16   288.0   1124                             Dunbia (Elgin) Limited
25   293.0   1156                     Orkney Meat Processors Limited
30     NaN   1216                                   Pasture-to-Plate
89    11.0   2085                          BW & DJ Glaves & Sons Ltd
152   43.0   2358                                   Milford Farm Ltd
153    NaN   2368                          J S Quality Meats Limited
164   49.0   2413                                        M & C MEATS
167   51.0   2436                                  R  NATRASS & SONS
178   57.0   2533                                  FAI Farms Limited
191   64.0   2621                               Wellcroft Farm Meats
192   65.0   2630                              Charing Meats Limited
197    NaN   2662                            Moor Farm Meats Limited
198   68.0   2667                                  A J Meats Limited
199   69.0   2669                                Philip Warren & Son
200    NaN   2670                              Manifold Valley Meats
203   71.0   2696                           United Country Foods Ltd
204    NaN   2748                               S and Y abattoir Ltd
205    NaN   2750                        Cranswick Country Foods Eye
224   81.0   4030                           Bolton Halal Chicken Ltd
225   82.0   4046                             SEAFIELD PEDIGREES LTD
228    NaN   4073                                      ABP ELLESMERE
229   84.0   4083                      Cook & Johnson (Butchers) Ltd
236   88.0   4104                                    A E PEARS & SON
241   91.0   4113                                  Noel Chadwick Ltd
286  114.0   4298                                A Johnson & Son Ltd
287  115.0   4303                                      James Law Ltd
326  135.0   4484                                     Marcus Stevens
343  144.0   4566                     Staffordshire Meat Packers Ltd
346  146.0   4571                                    HEATH'S TURKEYS
365  156.0   4795                                 Highgate Meats Ltd
438  192.0   5241                                     Ruse & Son Ltd
439  193.0   5251                                      DENHAM ESTATE
452  200.0   5415                                   Telmara Farm Ltd
457  203.0   5491                          MUSLIM HALAL LIVE POULTRY
474  212.0   6135                                       BRAMBLE FARM
485  218.0   6359                           Laverstoke Park Farm Ltd
486  219.0   6391                                  Turrill Hill Farm
517  332.0   7110  William E Edwards & Glyn Davies (T/A J William...
534    NaN   7226                                    Euro Farm Wales
543  224.0   8025                                    MANOR FARM DEER
546  226.0   8046                                     DAWN TREBURLEY
579  243.0   8189                                C M Howard and Sons
614  261.0   8369                          Tideford Abattoir Limited
639    NaN   9301                                      DMP Foods Ltd
642  277.0   9508                   H.K. Dickey(t/a Dickeys Poultry)
651  262.0  GX401                         State of Guernsey Abattoir
652    NaN   IOM1                                  Isle of Man Meats

                town slaughterhouse         x         y  \
16             Elgin            yes       NaN       NaN
25          Kirkwall            yes       NaN       NaN
30            Gordon            yes       NaN       NaN
89       Scarborough            yes  494457.0  482081.0
152            Leeds            yes  446438.0  430894.0
153        Uttoxeter            yes  409599.0  334548.0
164            Leeds            yes  436399.0  434576.0
167  Bishop Auckland            yes  390703.0  538225.0
178           Wytham            yes       NaN       NaN
191   Butterton Leek            yes  407169.0  356619.0
192          Ashford            yes       NaN       NaN
197           Banham            yes  604748.0  288767.0
198       Birmingham            yes       NaN       NaN
199       Launceston            yes  231834.0   83582.0
200             Leek            yes  408365.0  353435.0
203           Banham            yes  604748.0  288767.0
204            Bacup            yes  385862.0  421772.0
205           Yaxley            yes  612907.0  274817.0
224           Bolton            yes       NaN       NaN
225         Redditch            yes       NaN       NaN
228        Ellesmere            yes  339643.0  328883.0
229        St Helens            yes  347658.0  401058.0
236   Melton Mowbray            yes  477375.0  330851.0
241            Wigan            yes       NaN       NaN
286           Yoxall            yes  413807.0  319296.0
287            Bacup            yes  385420.0  422291.0
326      Lutterworth            yes  450621.0  287623.0
343         Wilmslow            yes       NaN       NaN
346   Stoke-on-Trent            yes       NaN       NaN
365          Penrith            yes  340513.0  527648.0
438          Sudbury            yes  586408.0  245762.0
439  Bury St Edmunds            yes       NaN       NaN
452   Saffron Walden            yes  557379.0  231330.0
457           London            yes       NaN       NaN
474     West Horsley            yes  508456.0  152518.0
485      Basingstoke            yes  451910.0  146831.0
486        Hampshire            yes  451910.0  146831.0
517          Denbigh            yes  305720.0  366399.0
534    Pembrokeshire            yes  196290.0  218525.0
543          Bristol            yes  346894.0  167203.0
546       Launceston            yes       NaN       NaN
579            Frome            yes  377795.0  147904.0
614          Saltash            yes  234936.0   59845.0
639          Crumlin            yes       NaN       NaN
642      Cullybackey            yes       NaN       NaN
651         Guernsey            yes       NaN       NaN
652      Isle of Man            yes       NaN       NaN

                                tradingname_lcase postcode7  country_id    yr  \
16                             dunbiaelginlimited       NaN           3  2018
25                    orkneymeatprocessorslimited       NaN           3  2018
30                                 pasturetoplate       NaN           3  2019
89                    bwanddjglavesandsonslimited   YO139DL           1  2018
152                            milfordfarmlimited   LS255LJ           1  2018
153                         jsqualitymeatslimited   ST145AA           1  2019
164                                    mandcmeats   LS158DY           1  2018
167                               rnatrassandsons   DL131JR           1  2018
178                               faifarmslimited   OX2 8QJ           1  2018
191                            wellcroftfarmmeats   ST137TD           1  2018
192                           charingmeatslimited       NaN           1  2018
197                          moorfarmmeatslimited   NR162BX           1  2019
198                                ajmeatslimited       NaN           1  2018
199                            philipwarrenandson   PL157ED           1  2018
200                           manifoldvalleymeats   ST137TT           1  2019
203                     unitedcountryfoodslimited   NR162BX           1  2018
204                          sandyabattoirlimited   OL130ET           1  2019
205                      cranswickcountryfoodseye   IP238BW           1  2019
224                     boltonhalalchickenlimited   BL3 6AU           1  2018
225                          seafieldpedigreesltd   B98 9DB           1  2018
228                                  abpellesmere   SY129BL           1  2019
229                 cookandjohnsonbutcherslimited   WA118DQ           1  2018
236                                 aepearsandson   LE144HG           1  2018
241                           noelchadwicklimited   WN6 0HA           1  2018
286                         ajohnsonandsonlimited   DE138NB           1  2018
287                               jameslawlimited   OL138NJ           1  2018
326                                 marcusstevens   LE175BS           1  2018
343               staffordshiremeatpackerslimited       NaN           1  2018
346                                 heathsturkeys   ST9 9QW           1  2018
365                          highgatemeatslimited   CA110SG           1  2018
438                             ruseandsonlimited   CO109JF           1  2018
439                                  denhamestate       NaN           1  2018
452                            telmarafarmlimited   CB113LZ           1  2018
457                        muslimhalallivepoultry   E1  2LP           1  2018
474                                   bramblefarm   KT246AP           1  2018
485                     laverstokeparkfarmlimited   RG253DR           1  2018
486                               turrillhillfarm   RG253DR           1  2018
517  williameedwardsandglyndaviestajwilliamsandco   LL163BS           2  2018
534                                 eurofarmwales   SA624BS           2  2019
543                                 manorfarmdeer   BS484AQ           1  2018
546                                 dawntreburley       NaN           1  2018
579                               cmhowardandsons   BA111PT           1  2018
614                       tidefordabattoirlimited   PL125HN           1  2018
639                               dmpfoodslimited   BT294RS           4  2019
642                      hkdickeytadickeyspoultry   BT421EG           4  2018
651                       stateofguernseyabattoir   GY2 4JN           5  2018
652                                isleofmanmeats   IM4 4QE           7  2019

     mth  count
16     1      1
25     1      1
30    12      1
89     1      1
152    1      1
153   12      1
164    1      1
167    1      1
178    1      1
191    1      1
192    1      1
197   12      1
198    1      1
199    1      1
200   12      1
203    1      1
204   12      1
205   12      1
224    1      1
225    1      1
228   12      1
229    1      1
236    1      1
241    1      1
286    1      1
287    1      1
326    1      1
343    1      1
346    1      1
365    1      1
438    1      1
439    1      1
452    1      1
457    1      1
474    1      1
485    1      1
486    1      1
517    1      1
534   12      1
543    1      1
546    1      1
579    1      1
614    1      1
639   12      1
642    1      1
651    1      1
652   12      1


Groups that appear more than twice (i.e. already two occurrences of group in database
=====================================================================================
Empty DataFrame
Columns: [id, appno, tradingname, town, slaughterhouse, x, y, tradingname_lcase, postcode7, country_id, yr, mth, count]
Index: []

Token columns added (only last 2 rows of each group retained)
===================
        id  appno                                        tradingname  \
0      1.0   1007                           Frank Bird (Poultry) Ltd
1      NaN   1007                           Frank Bird (Poultry) Ltd
2      2.0   1077                Joe Simpson (T/A F Simpson and Son)
3      NaN   1077                Joe Simpson (T/A F Simpson and Son)
4    282.0   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
..     ...    ...                                                ...
648    NaN   9552                                     Kearns Poultry
649  281.0   9554                                   Rockvale Poultry
650    NaN   9554                                   Rockvale Poultry
651  262.0  GX401                         State of Guernsey Abattoir
652    NaN   IOM1                                  Isle of Man Meats

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1            Penrith            yes  357081.0  533629.0
2    Bishop Auckland            yes  412803.0  524280.0
3    Bishop Auckland            yes  412803.0  524280.0
4       Coupar Angus            yes       NaN       NaN
..               ...            ...       ...       ...
648       BALLYMENA             yes       NaN       NaN
649           ARMAGH            yes       NaN       NaN
650           ARMAGH            yes       NaN       NaN
651         Guernsey            yes       NaN       NaN
652      Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2018
1                        frankbirdpoultrylimited   CA101NB           1  2019
2                     joesimpsontafsimpsonandson   DL135AA           1  2018
3                     joesimpsontafsimpsonandson   DL135AA           1  2019
4    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2018
..                                           ...       ...         ...   ...
648                                kearnspoultry   BT449AA           4  2019
649                              rockvalepoultry   BT619ND           4  2018
650                              rockvalepoultry   BT619ND           4  2019
651                      stateofguernseyabattoir   GY2 4JN           5  2018
652                               isleofmanmeats   IM4 4QE           7  2019

     mth  count                                             tokens  \
0      1      2                             [frank, bird, poultry]
1     12      2                             [frank, bird, poultry]
2      1      2                [joe, simpson, ta, f, simpson, son]
3     12      2                [joe, simpson, ta, f, simpson, son]
4      1      2  [2, sisters, poultry, ta, 2, sisters, coupar, ...
..   ...    ...                                                ...
648   12      2                                  [kearns, poultry]
649    1      2                                [rockvale, poultry]
650   12      2                                [rockvale, poultry]
651    1      1                    [state, of, guernsey, abattoir]
652   12      1                             [isle, of, man, meats]

                              prevtokens
0                                    NaN
1                 [frank, bird, poultry]
2                 [frank, bird, poultry]
3    [joe, simpson, ta, f, simpson, son]
4    [joe, simpson, ta, f, simpson, son]
..                                   ...
648                    [kearns, poultry]
649                    [kearns, poultry]
650                  [rockvale, poultry]
651                  [rockvale, poultry]
652      [state, of, guernsey, abattoir]

[653 rows x 15 columns]


Token columns compared
======================
        id  appno                                        tradingname  \
0      1.0   1007                           Frank Bird (Poultry) Ltd
1      NaN   1007                           Frank Bird (Poultry) Ltd
2      2.0   1077                Joe Simpson (T/A F Simpson and Son)
3      NaN   1077                Joe Simpson (T/A F Simpson and Son)
4    282.0   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
..     ...    ...                                                ...
648    NaN   9552                                     Kearns Poultry
649  281.0   9554                                   Rockvale Poultry
650    NaN   9554                                   Rockvale Poultry
651  262.0  GX401                         State of Guernsey Abattoir
652    NaN   IOM1                                  Isle of Man Meats

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1            Penrith            yes  357081.0  533629.0
2    Bishop Auckland            yes  412803.0  524280.0
3    Bishop Auckland            yes  412803.0  524280.0
4       Coupar Angus            yes       NaN       NaN
..               ...            ...       ...       ...
648       BALLYMENA             yes       NaN       NaN
649           ARMAGH            yes       NaN       NaN
650           ARMAGH            yes       NaN       NaN
651         Guernsey            yes       NaN       NaN
652      Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2018
1                        frankbirdpoultrylimited   CA101NB           1  2019
2                     joesimpsontafsimpsonandson   DL135AA           1  2018
3                     joesimpsontafsimpsonandson   DL135AA           1  2019
4    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2018
..                                           ...       ...         ...   ...
648                                kearnspoultry   BT449AA           4  2019
649                              rockvalepoultry   BT619ND           4  2018
650                              rockvalepoultry   BT619ND           4  2019
651                      stateofguernseyabattoir   GY2 4JN           5  2018
652                               isleofmanmeats   IM4 4QE           7  2019

     mth  count                                             tokens  \
0      1      2                             [frank, bird, poultry]
1     12      2                             [frank, bird, poultry]
2      1      2                [joe, simpson, ta, f, simpson, son]
3     12      2                [joe, simpson, ta, f, simpson, son]
4      1      2  [2, sisters, poultry, ta, 2, sisters, coupar, ...
..   ...    ...                                                ...
648   12      2                                  [kearns, poultry]
649    1      2                                [rockvale, poultry]
650   12      2                                [rockvale, poultry]
651    1      1                    [state, of, guernsey, abattoir]
652   12      1                             [isle, of, man, meats]

                              prevtokens   jd
0                                    NaN  NaN
1                 [frank, bird, poultry]  0.0
2                                    NaN  NaN
3    [joe, simpson, ta, f, simpson, son]  0.0
4                                    NaN  NaN
..                                   ...  ...
648                    [kearns, poultry]  0.0
649                                  NaN  NaN
650                  [rockvale, poultry]  0.0
651                                  NaN  NaN
652                                  NaN  NaN

[653 rows x 16 columns]


Altered rows of data
====================
        id appno                                        tradingname  \
10   285.0  1106    2Sisters Red Meat Limited (T/A McIntosh Donald)
11     NaN  1106                                Kepak Group Limited
53   307.0  1598                 Dawn Meats UK (T/A Highland Meats)
54     NaN  1598                                        Dunbia (UK)
98    16.0  2100                                       DAWN CARNABY
99     NaN  2100                                     Dunbia Carnaby
156   45.0  2388                                       DAWN CUMBRIA
157    NaN  2388                                     Dunbia Cumbria
160   47.0  2399                         Just Halal Poultry Limited
161    NaN  2399                                 Chai Meats Limited
170   53.0  2450                     Al-Ummah Halal Poultry Limited
171    NaN  2450                                   AL UMMAH LIMITED
206   72.0  3003                     Faccenda Foods (Lincs) Limited
207    NaN  3003       Faccenda Foods (Lincs) Ltd (T/A Avara Foods)
210   74.0  3007                             Faccenda Foods Limited
211    NaN  3007           Faccenda Foods Limited (T/A Avara Foods)
216   77.0  4014                               Cargill Meats Europe
217    NaN  4014                         Freemans of Newent Limited
218   78.0  4015             A S Audhali Farmgate Fresh Poultry Ltd
219    NaN  4015                                 Shafa Farm Limited
222   80.0  4026                             Faccenda Foods Limited
223    NaN  4026           Faccenda Foods Limited (T/A Avara Foods)
260  101.0  4199                           BATES WHOLESALE BUTCHERS
261    NaN  4199  Leansale Limited (TA Roopyal Laham Halaal Butc...
266  104.0  4227                       Cheshire Halal Meats Limited
267    NaN  4227                            Manchester Abattoir Ltd
382  164.0  5008                                1Stop Halal Limited
383    NaN  5008                               Shazan Foods Limited
408  177.0  5106                                    DAWN CARDINGTON
409    NaN  5106                                  Dunbia Cardington
436  191.0  5218                                      ARTHUR HOWELL
437    NaN  5218                              Arthur J Howell & Son
455  202.0  5464                                 Banham Poultry Ltd
456    NaN  5464                          Banham Poultry (2018) Ltd
493  320.0  7023                Evan Roberts T/A E Roberts and Sons
494    NaN  7023                    Cig Eryri - Snowdonia Meats Cyf
518  333.0  7132                     Fairfield Meat Company Limited
519    NaN  7132                      Farmers Fresh (Wales) Limited
528  338.0  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
529    NaN  7176                           Kepak Food Group Limited
553  230.0  8071                                    Dawn West Devon
554    NaN  8071                                  Dunbia West Devon
557  232.0  8073                             ST MERRYN FOODS BODMIN
558    NaN  8073                                   St Merryn Bodmin

                   town slaughterhouse         x         y  \
10             Aberdeen            yes       NaN       NaN
11             Aberdeen            yes       NaN       NaN
53            Saltcoats            yes       NaN       NaN
54            Saltcoats            yes       NaN       NaN
98          Bridlington            yes       NaN       NaN
99          Bridlington            yes       NaN       NaN
156           Ulverston            yes       NaN       NaN
157           Ulverston            yes       NaN       NaN
160            Bradford            yes       NaN       NaN
161            Bradford            yes       NaN       NaN
170            Barnsley            yes       NaN       NaN
171            Barnsley            yes       NaN       NaN
206        Market Rasen            yes       NaN       NaN
207             Caistor            yes       NaN       NaN
210            Brackley            yes  459223.0  236768.0
211            Brackley            yes  459223.0  236768.0
216            Hereford            yes       NaN       NaN
217            Hereford            yes       NaN       NaN
218              Hatton            yes  422243.0  268854.0
219              Hatton            yes  422243.0  268854.0
222            Scropton            yes  419934.0  330053.0
223            Scropton            yes  419934.0  330053.0
260          Birmingham            yes       NaN       NaN
261          Birmingham            yes       NaN       NaN
266           Stockport            yes       NaN       NaN
267           Stockport            yes       NaN       NaN
382                 Eye            yes  614371.0  273759.0
383                 Eye            yes  614371.0  273759.0
408             Bedford            yes       NaN       NaN
409             Bedford            yes  508818.0  249106.0
436  Wells Next The Sea            yes  591678.0  343666.0
437  Wells Next The Sea            yes  591678.0  343666.0
455        Attleborough            yes  605279.0  294892.0
456        Attleborough            yes  605279.0  294892.0
493  Blaenau Ffestiniog            yes  271610.0  340732.0
494  Blaenau Ffestiniog            yes  271610.0  340732.0
518             Wrexham            yes  337336.0  347909.0
519             Wrexham            yes  337336.0  347909.0
528      Merthyr Tydfil            yes  307802.0  208695.0
529      Merthyr Tydfil            yes  307802.0  208695.0
553          Okehampton            yes       NaN       NaN
554          Okehampton            yes       NaN       NaN
557              Bodmin            yes  208344.0   67135.0
558              Bodmin            yes  208344.0   67135.0

                                     tradingname_lcase postcode7  country_id  \
10              2sistersredmeatlimitedtamcintoshdonald       NaN           3
11                                   kepakgrouplimited       NaN           3
53                          dawnmeatsuktahighlandmeats       NaN           3
54                                            dunbiauk       NaN           3
98                                         dawncarnaby       NaN           1
99                                       dunbiacarnaby       NaN           1
156                                        dawncumbria       NaN           1
157                                      dunbiacumbria       NaN           1
160                            justhalalpoultrylimited   BD3 9RD           1
161                                   chaimeatslimited   BD3 9RD           1
170                         alummahhalalpoultrylimited   S72 9BG           1
171                                     alummahlimited   S72 9BG           1
206                          faccendafoodslincslimited   LN7 6SH           1
207              faccendafoodslincslimitedtaavarafoods   LN7 6SH           1
210                               faccendafoodslimited   NN137EX           1
211                   faccendafoodslimitedtaavarafoods   NN137EX           1
216                                 cargillmeatseurope   HR4 9PB           1
217                            freemansofnewentlimited   HR4 9PB           1
218               asaudhalifarmgatefreshpoultrylimited   CV357HZ           1
219                                   shafafarmlimited   CV357HZ           1
222                               faccendafoodslimited   DE655PS           1
223                   faccendafoodslimitedtaavarafoods   DE655PS           1
260                             bateswholesalebutchers   B11 4AA           1
261        leansalelimitedtaroopyallahamhalaalbutchers   B11 4AA           1
266                          cheshirehalalmeatslimited   SK4 1BJ           1
267                          manchesterabattoirlimited   SK4 1BJ           1
382                                  1stophalallimited   IP237AJ           1
383                                 shazanfoodslimited   IP237AJ           1
408                                     dawncardington       NaN           1
409                                   dunbiacardington   MK443SB           1
436                                       arthurhowell   NR231AN           1
437                                arthurjhowellandson   NR231AN           1
455                               banhampoultrylimited   NR172AT           1
456                           banhampoultry2018limited   NR172AT           1
493                       evanrobertstaerobertsandsons   LL414PY           2
494                          cigeryrisnowdoniameatscyf   LL414PY           2
518                        fairfieldmeatcompanylimited   LL130TS           2
519                           farmersfreshwaleslimited   LL130TS           2
528  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
529                              kepakfoodgrouplimited   CF482TA           2
553                                      dawnwestdevon       NaN           1
554                                    dunbiawestdevon       NaN           1
557                                stmerrynfoodsbodmin   PL312QB           1
558                                     stmerrynbodmin   PL312QB           1

       yr  mth  count                                             tokens  \
10   2018    1      2      [2, sisters, red, meat, ta, mcintosh, donald]
11   2019   12      2                                     [kepak, group]
53   2018    1      2             [dawn, meats, uk, ta, highland, meats]
54   2019   12      2                                       [dunbia, uk]
98   2018    1      2                                    [dawn, carnaby]
99   2019   12      2                                  [dunbia, carnaby]
156  2018    1      2                                    [dawn, cumbria]
157  2019   12      2                                  [dunbia, cumbria]
160  2018    1      2                             [just, halal, poultry]
161  2019   12      2                                      [chai, meats]
170  2018    1      2                        [al, ummah, halal, poultry]
171  2019   12      2                                        [al, ummah]
206  2018    1      2                           [faccenda, foods, lincs]
207  2019   12      2         [faccenda, foods, lincs, ta, avara, foods]
210  2018    1      2                                  [faccenda, foods]
211  2019   12      2                [faccenda, foods, ta, avara, foods]
216  2018    1      2                           [cargill, meats, europe]
217  2019   12      2                             [freemans, of, newent]
218  2018    1      2          [a, s, audhali, farmgate, fresh, poultry]
219  2019   12      2                                      [shafa, farm]
222  2018    1      2                                  [faccenda, foods]
223  2019   12      2                [faccenda, foods, ta, avara, foods]
260  2018    1      2                       [bates, wholesale, butchers]
261  2019   12      2   [leansale, ta, roopyal, laham, halaal, butchers]
266  2018    1      2                           [cheshire, halal, meats]
267  2019   12      2                             [manchester, abattoir]
382  2018    1      2                                     [1stop, halal]
383  2019   12      2                                    [shazan, foods]
408  2018    1      2                                 [dawn, cardington]
409  2019   12      2                               [dunbia, cardington]
436  2018    1      2                                   [arthur, howell]
437  2019   12      2                           [arthur, j, howell, son]
455  2018    1      2                                  [banham, poultry]
456  2019   12      2                            [banham, poultry, 2018]
493  2018    1      2              [evan, roberts, ta, e, roberts, sons]
494  2019   12      2                [cig, eryri, snowdonia, meats, cyf]
518  2018    1      2                         [fairfield, meat, company]
519  2019   12      2                            [farmers, fresh, wales]
528  2018    1      2  [2, sisters, red, meat, ta, st, merryn, foods,...
529  2019   12      2                               [kepak, food, group]

      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
281  282   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
282  283   1101             Anglo Beef Processors UK T/A ABP Perth
283  284   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
278  279   9518                             McKeown Fine Foods Ltd
279  280   9552                                     Kearns Poultry
280  281   9554                                   Rockvale Poultry
261  262  GX401                         State of Guernsey Abattoir
368  369   IOM1                                  Isle of Man Meats

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
281     Coupar Angus            yes       NaN       NaN
282            Perth            yes       NaN       NaN
283          Turriff            yes       NaN       NaN
..               ...            ...       ...       ...
278        BALLYMENA            yes       NaN       NaN
279       BALLYMENA             yes       NaN       NaN
280           ARMAGH            yes       NaN       NaN
261         Guernsey            yes       NaN       NaN
368      Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
281  2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
282              anglobeefprocessorsuktaabpperth       NaN           3  2019
283             neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
278                      mckeownfinefoodslimited   BT448RN           4  2019
279                                kearnspoultry   BT449AA           4  2019
280                              rockvalepoultry   BT619ND           4  2019
261                      stateofguernseyabattoir   GY2 4JN           5  2018
368                               isleofmanmeats   IM4 4QE           7  2019

     mth  count                                             tokens  \
0     12      2                             [frank, bird, poultry]
1     12      2                [joe, simpson, ta, f, simpson, son]
281   12      2  [2, sisters, poultry, ta, 2, sisters, coupar, ...
282   12      2      [anglo, beef, processors, uk, ta, abp, perth]
283   12      2                  [neerock, ta, woodhead, brothers]
..   ...    ...                                                ...
278   12      2                             [mckeown, fine, foods]
279   12      2                                  [kearns, poultry]
280   12      2                                [rockvale, poultry]
261    1      1                    [state, of, guernsey, abattoir]
368   12      1                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
281  [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
282      [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
283                  [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
278                             [mckeown, fine, foods]  0.0      yes
279                                  [kearns, poultry]  0.0      yes
280                                [rockvale, poultry]  0.0      yes
261                                                NaN  NaN      NaN
368                                                NaN  NaN      NaN

[369 rows x 17 columns]

## Testing with real data files

### Define additional required data

#### Run real datafiles and add to MySQL database

In [18]:
phjYearList = [2018,2019,2020]

phjMonthOrdDict = collections.OrderedDict()
phjMonthOrdDict['january'] = 1
phjMonthOrdDict['february'] = 2
phjMonthOrdDict['march'] = 3
phjMonthOrdDict['april'] = 4
phjMonthOrdDict['may'] = 5
phjMonthOrdDict['june'] = 6
phjMonthOrdDict['july'] = 7
phjMonthOrdDict['august'] = 8
phjMonthOrdDict['september'] = 9
phjMonthOrdDict['october'] = 10
phjMonthOrdDict['november'] = 11
phjMonthOrdDict['december'] = 12

phjMonthList = [k for k,v in phjMonthOrdDict.items()]

print(phjMonthList)

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']

In [19]:
# Define missing codes
phjMissingCodesDict = {'phjMissValueStr':'missing',
                       'phjCPHCountyMissCode':999,
                       'phjCountryMissCode':999,
                       'phjAnimSrcMissCode':999,
                       'phjSppGrpMissCode':999,
                       'phjOffCCIRMissCode':999,
                       'phjInspectionTypeMissCode':999}

In [20]:
phjCountryDF = pd.DataFrame({'country_id':[1,2,3,4,5,6,7,phjMissingCodesDict['phjCountryMissCode']],
                             'country':['England','Wales','Scotland','Northern Ireland','Guernsey','Jersey','Isle of Man','missing']})

print(phjCountryDF)

   country_id           country
0           1           England
1           2             Wales
2           3          Scotland
3           4  Northern Ireland
4           5          Guernsey
5           6            Jersey
6           7       Isle of Man
7         999           missing

#### Run files

In [21]:
# Make connection to database where data will be retrieved and stored
# Instructions for creating sql engine taken from: https://docs.sqlalchemy.org/en/13/dialects/mysql.html
phjUsername = input('Enter username: ')
phjPassword = getpass.getpass('Enter password: ')

phjSQLEng = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@localhost/ccir_data'.format(phjUsername,phjPassword))

# Delete contents of table first (don't use 'replace' because it changes the structure of the table)
with phjSQLEng.begin() as conn:     
    conn.execute('DROP TABLE IF EXISTS `appno`')
    
#    conn.execute("""CREATE TABLE IF NOT EXISTS `ccir_data`.`appno` (
#                      `id` INT(4) UNSIGNED NOT NULL AUTO_INCREMENT,
#                      `appno` VARCHAR(12) CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_0900_ai_ci' NOT NULL DEFAULT '',
#                      `yr` INT(4) UNSIGNED NOT NULL,
#                      `mth` INT(4) UNSIGNED NOT NULL,
#                      `abattoir_id` INT(4) UNSIGNED NOT NULL,
#                    PRIMARY KEY (`id`),
#                    UNIQUE INDEX `appno-yr-mth_UNIQUE` (`appno` ASC, `yr` ASC, `mth` ASC) VISIBLE)
#                    ENGINE = InnoDB
#                    AUTO_INCREMENT = 1
#                    DEFAULT CHARACTER SET = utf8mb4
#                    COLLATE = utf8mb4_0900_ai_ci
#                    """)

    conn.execute("""CREATE TABLE IF NOT EXISTS `ccir_data`.`appno` (
                      `appno` VARCHAR(12) CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_0900_ai_ci' NOT NULL DEFAULT '',
                      `yr` INT(4) UNSIGNED NOT NULL,
                      `mth` INT(4) UNSIGNED NOT NULL,
                      `abattoir_id` INT(4) UNSIGNED NOT NULL,
                      PRIMARY KEY (`appno`,`yr`,`mth`))
                    ENGINE = InnoDB
                    DEFAULT CHARACTER SET = utf8mb4
                    COLLATE = utf8mb4_0900_ai_ci
                    """)


    conn.execute('DELETE FROM `abattoir`')

Enter username: root
Enter password: ········

/Users/philipjones/opt/anaconda3/envs/gen-env37/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1681, 'Integer display width is deprecated and will be removed in a future release.')
  result = self._query(query)

In [22]:
# Files listing FSA approved premises taken from:
# https://data.food.gov.uk/catalog/datasets/1e61736a-2a1a-4c6a-b8b1-e45912ebc8e3

# Path to directory
phjPath = './monthly_approved_premises'

# List of files
phjFilesList = ["approved-food-establishments-as-at-1-{}-{}.csv".format(mth,yr) for yr in phjYearList for mth in phjMonthList]

# Columns to retain in data
phjColsOfInterestList  = ['appno','tradingname','town','postcode','country','slaughterhouse','x','y']

# Make connection to database where data will be retrieved and stored
# Instructions for creating sql engine taken from: https://docs.sqlalchemy.org/en/13/dialects/mysql.html
phjUsername = input('Enter username: ')
phjPassword = getpass.getpass('Enter password: ')

phjSQLEng = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@localhost/ccir_data'.format(phjUsername,phjPassword))

phjRenameYrMthDict = {'last_yr':'yr',
                      'last_mth':'mth'}

for phjFilename in phjFilesList:
    
    print('Filename: {}'.format(phjFilename))
    
    # Retrieve data from database to act as original data
    # ---------------------------------------------------
    # Make connection to database where data will be retrieved and stored
    #phjConn = epy.phjConnectToDatabase('mysql')
    
    try:
        fsaAppno1DF = pd.read_sql('SELECT * from `abattoir`', con=phjSQLEng)
        
        # The columns in the database are 'latest_yr' and 'latest_mth' but this needs to
        # be changed to 'yr' and 'mth' respectively to enable dataframe to be combined with
        # new data file.
        fsaAppno1DF = fsaAppno1DF.rename(columns = phjRenameYrMthDict)
    
    except pd.io.sql.DatabaseError as e:
        print('\nA DatabaseError occurred.')
        print(e)
        fsaAppno1DF = None
        break
    
    print('First dataframe (retrieved from DB)\n===============')
    print(fsaAppno1DF)
    print('\n')

    # Retrieve next file in list to act as latest data
    # ------------------------------------------------
    try:
        # Read csv file
        fsaAppno2DF = pd.read_csv(Path('/'.join([phjPath,phjFilename])))

        # Preprocess the new file
        fsaAppno2DF = phjPreProcess(phjDF = fsaAppno2DF,
                                    phjCountryDF = phjCountryDF,
                                    phjCountryMissCode = phjMissingCodesDict['phjCountryMissCode'],
                                    phjColsOfInterestList = phjColsOfInterestList)

        # Add id column and move it to front
        fsaAppno2DF['id'] = np.nan
        fsaAppno2DF = fsaAppno2DF[['id'] + [i for i in fsaAppno2DF.columns if i not in ['id']]]

        # Add yr and mth columns
        # Extract year and month from filename and add to dataframe
        phjExtrDate = re.search('as-at-1-(?P<mth>.*)-(?P<yr>.*).csv',phjFilename)
        fsaAppno2DF['yr'] = int(phjExtrDate['yr'])
        fsaAppno2DF['mth'] = int(phjMonthOrdDict[phjExtrDate['mth']])

        print('Second dataframe (post processing)\n================')
        print(fsaAppno2DF)
        print('\n')
    
    except FileNotFoundError as e:
        print('There was error opening the file {}.'.format(phjFilename))
        print(e)
        print('\n')
            
        fsaAppno2DF = None
        
    
    if (fsaAppno2DF is not None) & (fsaAppno2DF is not None):
        
        # Combine dataframes
        # ------------------
        phjCombinedDF = phjUpdateData(phjOriginalDF = fsaAppno1DF,
                                      phjNewDF = fsaAppno2DF,
                                      phjColsOfInterestList = phjColsOfInterestList,
                                      phjIDColName = 'id',
                                      phjYrColName = 'yr',
                                      phjMthColName = 'mth',
                                      phjGrpColName = 'appno',
                                      phjNameColName = 'tradingname',
                                      phjCountColName = 'count',
                                      phjTokColName = 'tokens',
                                      phjPrevTokColName = 'prevtokens',
                                      phjJaccardColName = 'jd',
                                      phjMatchColName = 'samename',
                                      phjPrintResults = False)
        
        print('Combined dataframe (post processing)\n================')
        print(phjCombinedDF)
        print('\n')


        # Write data to 'abattoir' table
        # ------------------------------
        
        # The 'abattoir' table defines an id number for each incarnation of an abattoir. For abattoirs that
        # have only minor changes in details, the same id number will be retained but the lastes version
        # of an abattoir's metadata will be retained. If an abattoir name changes considerably (e.g. the
        # abattoir is bought by another company) then a new id number will be created.
        
        # The columns that need to be written back to the database are inlucded in the phjColsOfInterestList
        # but with 'country' replaced by 'country_id' and 'postcode' replaced by 'postcode7'.
        # Before writing back to the database, the 'yr' and 'mth' columns must be renamed to 'latest_yr' and
        # latest 'latest_mth'; this is done by reversing the key:value pairs in the phjRenameYrMthDict dictionary.
        # For code to replace the items within a list (i.e. 'country' to 'country_id' etc.) see:
        # https://stackoverflow.com/questions/53294611/pandas-to-sql-changing-datatype-in-database-table
        
        # Delete contents of table first (don't use 'replace' because it changes the structure of the table)
        with phjSQLEng.begin() as conn:     
            conn.execute('DELETE FROM `abattoir`')
        
        # Then append data in dataframe (to empty database)
        phjColNameRepl = {'country':'country_id',
                          'postcode':'postcode7'}

        phjCombinedDF[[phjColNameRepl.get(i,i) for i in ['id']+phjColsOfInterestList+['yr','mth']]].rename(columns = {v:k for k,v in phjRenameYrMthDict.items()}).to_sql(con = phjSQLEng,
                                                                                                                                                                         name = 'abattoir',
                                                                                                                                                                         if_exists = 'append',
                                                                                                                                                                         index = False,
                                                                                                                                                                         dtype = {'id':sqlalchemy.types.INTEGER(),
                                                                                                                                                                                  'appno':sqlalchemy.types.VARCHAR(length=12),
                                                                                                                                                                                  'tradingname':sqlalchemy.types.VARCHAR(length=254),
                                                                                                                                                                                  'town':sqlalchemy.types.VARCHAR(length=254),
                                                                                                                                                                                  'country_id':sqlalchemy.types.INTEGER(),
                                                                                                                                                                                  'slaughterhouse':sqlalchemy.types.VARCHAR(length=12),
                                                                                                                                                                                  'x':sqlalchemy.types.FLOAT(),
                                                                                                                                                                                  'y':sqlalchemy.types.FLOAT(),
                                                                                                                                                                                  'latest_yr':sqlalchemy.types.INTEGER(),
                                                                                                                                                                                  'latest_mth':sqlalchemy.types.INTEGER()})
        
        # Write data to 'appno' table
        # ===========================
        # This table links the appno for any given month and year with the name of the abattoir on that
        # particular occasion using the 'abattoir_id' field. The only data that needs to be retained is
        # the information relating to the yr and mth of the current field being processed.
        # N.B. The appno table is set to have autoincrement for id column. Rows are added to the table
        # for each new file. The table is not cleared beforehand. If the table needs to be deleted
        # manually, the following SQL is report to be used to reset the autoincrement or to delete.
        # However, in MySQL, autoincrement cannot be set to value less than current value. Instead, a
        # constant value could be subtracted from the id column but this does not help if table is empty.
        #
        # DELETE FROM `appno`;
        # ALTER TABLE `appno` AUTO_INCREMENT = 1;
        #
        # SET @phjMinID = (SELECT min(`id`) FROM `appno`) + 1;
        # UPDATE `appno` set `id`=`id`- @phjMinID;
        #
        # Best option is perhaps to delete and recreate the table in SQL:
        #
        # DROP TABLE IF EXISTS `appno`;
        #
        # CREATE TABLE `appno` (
        #   `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
        #   `appno` varchar(12) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '',
        #   `yr` int(4) unsigned NOT NULL,
        #   `mth` int(2) unsigned NOT NULL,
        #   `abattoir_id` int(4) unsigned NOT NULL,
        #   PRIMARY KEY (`id`)
        # ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
        
        print('Combined appno dataframe')
        print('------------------------')
        
        print(phjCombinedDF.loc[(phjCombinedDF['yr'] == int(phjExtrDate['yr'])) & (phjCombinedDF['mth'] == int(phjMonthOrdDict[phjExtrDate['mth']])),['appno','yr','mth','id']])


        phjCombinedDF.loc[(phjCombinedDF['yr'] == int(phjExtrDate['yr'])) & (phjCombinedDF['mth'] == int(phjMonthOrdDict[phjExtrDate['mth']])),['appno','yr','mth','id']].rename(columns = {'id':'abattoir_id'}).to_sql(  con = phjSQLEng,
                                                                                                                                                                                                                name = 'appno',
                                                                                                                                                                                                                if_exists = 'append',
                                                                                                                                                                                                                index = False,
                                                                                                                                                                                                                dtype = {'appno':sqlalchemy.types.VARCHAR(length=12),
                                                                                                                                                                                                                         'yr':sqlalchemy.types.INTEGER(),
                                                                                                                                                                                                                         'mth':sqlalchemy.types.INTEGER(),
                                                                                                                                                                                                                         'abattoir_id':sqlalchemy.types.INTEGER()})

        
print('All done')

Enter username: root
Enter password: ········
Filename: approved-food-establishments-as-at-1-january-2018.csv
First dataframe (retrieved from DB)
===============
Empty DataFrame
Columns: [id, appno, tradingname, town, postcode7, country_id, slaughterhouse, x, y, yr, mth]
Index: []


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
335 NaN  7161                  Capestone Organic Poultry Limited
336 NaN  7164                               Usk Vale Poultry Ltd
337 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
338 NaN  7182                                     David T Havard
339 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
335    Haverfordwest            yes  186459.0  209697.0
336        Pontypool            yes       NaN       NaN
337   Merthyr Tydfil            yes  307802.0  208695.0
338       Caerphilly            yes  313792.0  185441.0
339         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
335                     capestoneorganicpoultrylimited   SA623DY           2
336                              uskvalepoultrylimited       NaN           2
337  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
338                                       davidthavard   CF831NF           2
339                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    1
1    2018    1
2    2018    1
3    2018    1
4    2018    1
..    ...  ...
335  2018    1
336  2018    1
337  2018    1
338  2018    1
339  2018    1

[340 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7 country_id slaughterhouse         x         y  \
0             Penrith   CA101NB          1            yes  357081.0  533629.0
1     Bishop Auckland   DL135AA          1            yes  412803.0  524280.0
2        Coupar Angus       NaN          3            yes       NaN       NaN
3               Perth       NaN          3            yes       NaN       NaN
4             Turriff       NaN          3            yes       NaN       NaN
..                ...       ...        ...            ...       ...       ...
335  BALLYMENA          BT423HA          4            yes       NaN       NaN
336         BALLYMENA   BT448RN          4            yes       NaN       NaN
337        BALLYMENA    BT449AA          4            yes       NaN       NaN
338            ARMAGH   BT619ND          4            yes       NaN       NaN
339          Guernsey   GY2 4JN          5            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2018    1                      frankbirdpoultrylimited      1
1    2018    1                   joesimpsontafsimpsonandson      1
2    2018    1  2sisterspoultrylimitedta2sisterscouparangus      1
3    2018    1              anglobeefprocessorsuktaabpperth      1
4    2018    1             neerocklimitedtawoodheadbrothers      1
..    ...  ...                                          ...    ...
335  2018    1                             moyparkballymena      1
336  2018    1                      mckeownfinefoodslimited      1
337  2018    1                                kearnspoultry      1
338  2018    1                              rockvalepoultry      1
339  2018    1                      stateofguernseyabattoir      1

                                                tokens prevtokens  jd samename
0                               [frank, bird, poultry]        NaN NaN      NaN
1                  [joe, simpson, ta, f, simpson, son]        NaN NaN      NaN
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...        NaN NaN      NaN
3        [anglo, beef, processors, uk, ta, abp, perth]        NaN NaN      NaN
4                    [neerock, ta, woodhead, brothers]        NaN NaN      NaN
..                                                 ...        ...  ..      ...
335                             [moy, park, ballymena]        NaN NaN      NaN
336                             [mckeown, fine, foods]        NaN NaN      NaN
337                                  [kearns, poultry]        NaN NaN      NaN
338                                [rockvale, poultry]        NaN NaN      NaN
339                    [state, of, guernsey, abattoir]        NaN NaN      NaN

[340 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    1    1
1     1077  2018    1    2
2     1100  2018    1    3
3     1101  2018    1    4
4     1103  2018    1    5
..     ...   ...  ...  ...
335   9509  2018    1  336
336   9518  2018    1  337
337   9552  2018    1  338
338   9554  2018    1  339
339  GX401  2018    1  340

[340 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-february-2018.csv
First dataframe (retrieved from DB)
===============
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth
0    533629.0  2018    1
1    524280.0  2018    1
2         NaN  2018    1
3         NaN  2018    1
4         NaN  2018    1
..        ...   ...  ...
335       NaN  2018    1
336       NaN  2018    1
337       NaN  2018    1
338       NaN  2018    1
339       NaN  2018    1

[340 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
335 NaN  7161                  Capestone Organic Poultry Limited
336 NaN  7164                               Usk Vale Poultry Ltd
337 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
338 NaN  7182                                     David T Havard
339 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
335    Haverfordwest            yes  186459.0  209697.0
336        Pontypool            yes       NaN       NaN
337   Merthyr Tydfil            yes  307802.0  208695.0
338       Caerphilly            yes  313792.0  185441.0
339         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
335                     capestoneorganicpoultrylimited   SA623DY           2
336                              uskvalepoultrylimited       NaN           2
337  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
338                                       davidthavard   CF831NF           2
339                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    2
1    2018    2
2    2018    2
3    2018    2
4    2018    2
..    ...  ...
335  2018    2
336  2018    2
337  2018    2
338  2018    2
339  2018    2

[340 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    2                      frankbirdpoultrylimited      2
1    524280.0  2018    2                   joesimpsontafsimpsonandson      2
2         NaN  2018    2  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    2              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    2             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    2                             moyparkballymena      2
336       NaN  2018    2                      mckeownfinefoodslimited      2
337       NaN  2018    2                                kearnspoultry      2
338       NaN  2018    2                              rockvalepoultry      2
339       NaN  2018    2                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[341 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    2    1
1     1077  2018    2    2
2     1100  2018    2    3
3     1101  2018    2    4
4     1103  2018    2    5
..     ...   ...  ...  ...
335   9509  2018    2  336
336   9518  2018    2  337
337   9552  2018    2  338
338   9554  2018    2  339
339  GX401  2018    2  340

[340 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-march-2018.csv
First dataframe (retrieved from DB)
===============
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
340  341   4014                         Freemans of Newent Limited

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
340         Hereford   HR4 9PB           1            yes       NaN       NaN

       yr  mth
0    2018    2
1    2018    2
2    2018    2
3    2018    2
4    2018    2
..    ...  ...
336  2018    2
337  2018    2
338  2018    2
339  2018    2
340  2018    2

[341 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
334 NaN  7161                  Capestone Organic Poultry Limited
335 NaN  7164                               Usk Vale Poultry Ltd
336 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
337 NaN  7182                                     David T Havard
338 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
334    Haverfordwest            yes  186459.0  209697.0
335        Pontypool            yes       NaN       NaN
336   Merthyr Tydfil            yes  307802.0  208695.0
337       Caerphilly            yes  313792.0  185441.0
338         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
334                     capestoneorganicpoultrylimited   SA623DY           2
335                              uskvalepoultrylimited       NaN           2
336  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
337                                       davidthavard   CF831NF           2
338                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    3
1    2018    3
2    2018    3
3    2018    3
4    2018    3
..    ...  ...
334  2018    3
335  2018    3
336  2018    3
337  2018    3
338  2018    3

[339 rows x 12 columns]

Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    3                      frankbirdpoultrylimited      2
1    524280.0  2018    3                   joesimpsontafsimpsonandson      2
2         NaN  2018    3  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    3              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    3             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    3                             moyparkballymena      2
336       NaN  2018    3                      mckeownfinefoodslimited      2
337       NaN  2018    3                                kearnspoultry      2
338       NaN  2018    3                              rockvalepoultry      2
339       NaN  2018    3                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[342 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    3    1
1     1077  2018    3    2
2     1100  2018    3    3
3     1101  2018    3    4
4     1103  2018    3    5
..     ...   ...  ...  ...
335   9509  2018    3  336
336   9518  2018    3  337
337   9552  2018    3  338
338   9554  2018    3  339
339  GX401  2018    3  340

[339 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-april-2018.csv
First dataframe (retrieved from DB)
===============
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
340  341   4014                         Freemans of Newent Limited
341  342   5001                         Bernard Matthews Foods Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
340         Hereford   HR4 9PB           1            yes       NaN       NaN
341          Norwich   NR9 5QD           1            yes       NaN       NaN

       yr  mth
0    2018    3
1    2018    3
2    2018    3
3    2018    3
4    2018    3
..    ...  ...
337  2018    3
338  2018    3
339  2018    3
340  2018    3
341  2018    3

[342 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
331 NaN  7161                  Capestone Organic Poultry Limited
332 NaN  7164                               Usk Vale Poultry Ltd
333 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
334 NaN  7182                                     David T Havard
335 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
331    Haverfordwest            yes  186459.0  209697.0
332        Pontypool            yes       NaN       NaN
333   Merthyr Tydfil            yes  307802.0  208695.0
334       Caerphilly            yes  313792.0  185441.0
335         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
331                     capestoneorganicpoultrylimited   SA623DY           2
332                              uskvalepoultrylimited       NaN           2
333  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
334                                       davidthavard   CF831NF           2
335                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    4
1    2018    4
2    2018    4
3    2018    4
4    2018    4
..    ...  ...
331  2018    4
332  2018    4
333  2018    4
334  2018    4
335  2018    4

[336 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    4                      frankbirdpoultrylimited      2
1    524280.0  2018    4                   joesimpsontafsimpsonandson      2
2         NaN  2018    4  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    4              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    4             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    4                             moyparkballymena      2
336       NaN  2018    4                      mckeownfinefoodslimited      2
337       NaN  2018    4                                kearnspoultry      2
338       NaN  2018    4                              rockvalepoultry      2
339       NaN  2018    4                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[343 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    4    1
1     1077  2018    4    2
2     1100  2018    4    3
3     1101  2018    4    4
4     1103  2018    4    5
..     ...   ...  ...  ...
335   9509  2018    4  336
336   9518  2018    4  337
337   9552  2018    4  338
338   9554  2018    4  339
339  GX401  2018    4  340

[336 rows x 4 columns]

Filename: approved-food-establishments-as-at-1-may-2018.csv
First dataframe (retrieved from DB)
===============
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
340  341   4014                         Freemans of Newent Limited
341  342   5001                         Bernard Matthews Foods Ltd
342  343   7132                      Farmers Fresh (Wales) Limited

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
340         Hereford   HR4 9PB           1            yes       NaN       NaN
341          Norwich   NR9 5QD           1            yes       NaN       NaN
342          Wrexham   LL130TS           2            yes  337336.0  347909.0

       yr  mth
0    2018    4
1    2018    4
2    2018    4
3    2018    4
4    2018    4
..    ...  ...
338  2018    4
339  2018    4
340  2018    4
341  2018    3
342  2018    4

[343 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
329 NaN  7161                  Capestone Organic Poultry Limited
330 NaN  7164                               Usk Vale Poultry Ltd
331 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
332 NaN  7182                                     David T Havard
333 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
329    Haverfordwest            yes  186459.0  209697.0
330        Pontypool            yes       NaN       NaN
331   Merthyr Tydfil            yes  307802.0  208695.0
332       Caerphilly            yes  313792.0  185441.0
333         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
329                     capestoneorganicpoultrylimited   SA623DY           2
330                              uskvalepoultrylimited       NaN           2
331  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
332                                       davidthavard   CF831NF           2
333                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    5
1    2018    5
2    2018    5
3    2018    5
4    2018    5
..    ...  ...
329  2018    5
330  2018    5
331  2018    5
332  2018    5
333  2018    5

[334 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    5                      frankbirdpoultrylimited      2
1    524280.0  2018    5                   joesimpsontafsimpsonandson      2
2         NaN  2018    5  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    5              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    5             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    5                             moyparkballymena      2
336       NaN  2018    5                      mckeownfinefoodslimited      2
337       NaN  2018    5                                kearnspoultry      2
338       NaN  2018    5                              rockvalepoultry      2
339       NaN  2018    5                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[351 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    5    1
1     1077  2018    5    2
2     1100  2018    5    3
3     1101  2018    5    4
4     1103  2018    5    5
..     ...   ...  ...  ...
335   9509  2018    5  336
336   9518  2018    5  337
337   9552  2018    5  338
338   9554  2018    5  339
339  GX401  2018    5  340

[334 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-june-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
346  347  2630                       Agro Foods (Ashford) Limited
347  348  4030                        Northern Poultry UK Limited
348  349  5106                                  Dunbia Cardington
349  350  8046                                  Dunbia  Treburley
350  351  8071                                  Dunbia West Devon

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
346          Ashford      None           1            yes       NaN       NaN
347           Bolton   BL3 6AU           1            yes       NaN       NaN
348          Bedford      None           1            yes       NaN       NaN
349       Launceston      None           1            yes       NaN       NaN
350       Okehampton      None           1            yes       NaN       NaN

       yr  mth
0    2018    5
1    2018    5
2    2018    5
3    2018    5
4    2018    5
..    ...  ...
346  2018    5
347  2018    5
348  2018    5
349  2018    5
350  2018    5

[351 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
328 NaN  7161                  Capestone Organic Poultry Limited
329 NaN  7164                               Usk Vale Poultry Ltd
330 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
331 NaN  7182                                     David T Havard
332 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
328    Haverfordwest            yes  186459.0  209697.0
329        Pontypool            yes       NaN       NaN
330   Merthyr Tydfil            yes  307802.0  208695.0
331       Caerphilly            yes  313792.0  185441.0
332         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
328                     capestoneorganicpoultrylimited   SA623DY           2
329                              uskvalepoultrylimited       NaN           2
330  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
331                                       davidthavard   CF831NF           2
332                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    6
1    2018    6
2    2018    6
3    2018    6
4    2018    6
..    ...  ...
328  2018    6
329  2018    6
330  2018    6
331  2018    6
332  2018    6

[333 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    6                      frankbirdpoultrylimited      2
1    524280.0  2018    6                   joesimpsontafsimpsonandson      2
2         NaN  2018    6  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    6              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    6             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    6                             moyparkballymena      2
336       NaN  2018    6                      mckeownfinefoodslimited      2
337       NaN  2018    6                                kearnspoultry      2
338       NaN  2018    6                              rockvalepoultry      2
339       NaN  2018    6                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[352 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    6    1
1     1077  2018    6    2
2     1100  2018    6    3
3     1101  2018    6    4
4     1103  2018    6    5
..     ...   ...  ...  ...
335   9509  2018    6  336
336   9518  2018    6  337
337   9552  2018    6  338
338   9554  2018    6  339
339  GX401  2018    6  340

[333 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-july-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
347  348  4030                        Northern Poultry UK Limited
348  349  5106                                  Dunbia Cardington
349  350  8046                                  Dunbia  Treburley
350  351  8071                                  Dunbia West Devon
351  352  1216                                   Pasture-to-Plate

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
347           Bolton   BL3 6AU           1            yes       NaN       NaN
348          Bedford      None           1            yes       NaN       NaN
349       Launceston      None           1            yes       NaN       NaN
350       Okehampton      None           1            yes       NaN       NaN
351           Gordon   TD3 6LQ           3            yes       NaN       NaN

       yr  mth
0    2018    6
1    2018    6
2    2018    6
3    2018    6
4    2018    6
..    ...  ...
347  2018    6
348  2018    6
349  2018    6
350  2018    6
351  2018    6

[352 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
328 NaN  7161                  Capestone Organic Poultry Limited
329 NaN  7164                               Usk Vale Poultry Ltd
330 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
331 NaN  7182                                     David T Havard
332 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
328    Haverfordwest            yes  186459.0  209697.0
329        Pontypool            yes       NaN       NaN
330   Merthyr Tydfil            yes  307802.0  208695.0
331       Caerphilly            yes  313792.0  185441.0
332         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
328                     capestoneorganicpoultrylimited   SA623DY           2
329                              uskvalepoultrylimited       NaN           2
330  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
331                                       davidthavard   CF831NF           2
332                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    7
1    2018    7
2    2018    7
3    2018    7
4    2018    7
..    ...  ...
328  2018    7
329  2018    7
330  2018    7
331  2018    7
332  2018    7

[333 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    7                      frankbirdpoultrylimited      2
1    524280.0  2018    7                   joesimpsontafsimpsonandson      2
2         NaN  2018    7  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    7              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    7             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    7                             moyparkballymena      2
336       NaN  2018    7                      mckeownfinefoodslimited      2
337       NaN  2018    7                                kearnspoultry      2
338       NaN  2018    7                              rockvalepoultry      2
339       NaN  2018    7                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[356 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    7    1
1     1077  2018    7    2
2     1100  2018    7    3
3     1101  2018    7    4
4     1103  2018    7    5
..     ...   ...  ...  ...
335   9509  2018    7  336
336   9518  2018    7  337
337   9552  2018    7  338
338   9554  2018    7  339
339  GX401  2018    7  340

[333 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-august-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
351  352  1216                                   Pasture-to-Plate
352  353  2450                                   AL UMMAH LIMITED
353  354  2670                              Manifold Valley Meats
354  355  4073                                      ABP ELLESMERE
355  356  5264                                      Sweetland Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
351           Gordon   TD3 6LQ           3            yes       NaN       NaN
352         Barnsley   S72 9BG           1            yes       NaN       NaN
353             Leek   ST137TT           1            yes  408365.0  353435.0
354        Ellesmere   SY129BL           1            yes  339643.0  328883.0
355     Great Dunmow   CM6 1DA           1            yes       NaN       NaN

       yr  mth
0    2018    7
1    2018    7
2    2018    7
3    2018    7
4    2018    7
..    ...  ...
351  2018    7
352  2018    7
353  2018    7
354  2018    7
355  2018    7

[356 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  2019                                    HCF Poultry Ltd
3   NaN  2023                       T Soanes & Son (Poultry) Ltd
4   NaN  2037                           2 Sisters Food Group Ltd
..   ..   ...                                                ...
326 NaN  7161                  Capestone Organic Poultry Limited
327 NaN  7164                               Usk Vale Poultry Ltd
328 NaN  7176  2 Sisters Red Meat Ltd T/A St Merryn Foods - M...
329 NaN  7182                                     David T Havard
330 NaN  7198       Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru

                town slaughterhouse         x         y  \
0            Penrith            yes  357081.0  533629.0
1    Bishop Auckland            yes  412803.0  524280.0
2           Bradford            yes  406519.0  436710.0
3          Driffield            yes       NaN       NaN
4         Scunthorpe            yes  488464.0  413261.0
..               ...            ...       ...       ...
326    Haverfordwest            yes  186459.0  209697.0
327        Pontypool            yes       NaN       NaN
328   Merthyr Tydfil            yes  307802.0  208695.0
329       Caerphilly            yes  313792.0  185441.0
330         Llanelli            yes  257290.0  212608.0

                                     tradingname_lcase postcode7  country_id  \
0                              frankbirdpoultrylimited   CA101NB           1
1                           joesimpsontafsimpsonandson   DL135AA           1
2                                    hcfpoultrylimited   BD135HP           1
3                          tsoanesandsonpoultrylimited       NaN           1
4                             2sistersfoodgrouplimited   DN158QW           1
..                                                 ...       ...         ...
326                     capestoneorganicpoultrylimited   SA623DY           2
327                              uskvalepoultrylimited       NaN           2
328  2sistersredmeatlimitedtastmerrynfoodsmerthyrty...   CF482TA           2
329                                       davidthavard   CF831NF           2
330                cigcaloncymru2010cyftacigcaloncymru   SA146RX           2

       yr  mth
0    2018    8
1    2018    8
2    2018    8
3    2018    8
4    2018    8
..    ...  ...
326  2018    8
327  2018    8
328  2018    8
329  2018    8
330  2018    8

[331 rows x 12 columns]

Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    8                      frankbirdpoultrylimited      2
1    524280.0  2018    8                   joesimpsontafsimpsonandson      2
2         NaN  2018    8  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    8              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    8             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    8                             moyparkballymena      2
336       NaN  2018    8                      mckeownfinefoodslimited      2
337       NaN  2018    8                                kearnspoultry      2
338       NaN  2018    8                              rockvalepoultry      2
339       NaN  2018    8                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[356 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018    8    1
1     1077  2018    8    2
2     1100  2018    8    3
3     1101  2018    8    4
4     1103  2018    8    5
..     ...   ...  ...  ...
335   9509  2018    8  336
336   9518  2018    8  337
337   9552  2018    8  338
338   9554  2018    8  339
339  GX401  2018    8  340

[331 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-september-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
351  352  1216                                   Pasture-to-Plate
352  353  2450                                   AL UMMAH LIMITED
353  354  2670                              Manifold Valley Meats
354  355  4073                                      ABP ELLESMERE
355  356  5264                                      Sweetland Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
351           Gordon   TD3 6LQ           3            yes       NaN       NaN
352         Barnsley   S72 9BG           1            yes       NaN       NaN
353             Leek   ST137TT           1            yes  408365.0  353435.0
354        Ellesmere   SY129BL           1            yes  339643.0  328883.0
355     Great Dunmow   CM6 1DA           1            yes       NaN       NaN

       yr  mth
0    2018    8
1    2018    8
2    2018    8
3    2018    8
4    2018    8
..    ...  ...
351  2018    8
352  2018    8
353  2018    8
354  2018    8
355  2018    8

[356 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
324 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
325 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
326 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
327 NaN  7182                                David T Havard       Caerphilly
328 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
324            yes  186459.0  209697.0       capestoneorganicpoultrylimited
325            yes       NaN       NaN                uskvalepoultrylimited
326            yes  307802.0  208695.0                kepakfoodgrouplimited
327            yes  313792.0  185441.0                         davidthavard
328            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2018    9
1     DL135AA           1  2018    9
2     BD135HP           1  2018    9
3         NaN           1  2018    9
4     DN158QW           1  2018    9
..        ...         ...   ...  ...
324   SA623DY           2  2018    9
325       NaN           2  2018    9
326   CF482TA           2  2018    9
327   CF831NF           2  2018    9
328   SA146RX           2  2018    9

[329 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018    9                      frankbirdpoultrylimited      2
1    524280.0  2018    9                   joesimpsontafsimpsonandson      2
2         NaN  2018    9  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018    9              anglobeefprocessorsuktaabpperth      2
4         NaN  2018    9             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018    9                             moyparkballymena      2
336       NaN  2018    9                      mckeownfinefoodslimited      2
337       NaN  2018    9                                kearnspoultry      2
338       NaN  2018    9                              rockvalepoultry      2
339       NaN  2018    9                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[359 rows x 17 columns]


Combined appno dataframe
------------------------

     appno    yr  mth   id
0     1007  2018    9    1
1     1077  2018    9    2
2     1100  2018    9    3
3     1101  2018    9    4
4     1103  2018    9    5
..     ...   ...  ...  ...
335   9509  2018    9  336
336   9518  2018    9  337
337   9552  2018    9  338
338   9554  2018    9  339
339  GX401  2018    9  340

[329 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-october-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
354  355  4073                                      ABP ELLESMERE
355  356  5264                                      Sweetland Ltd
356  357  1106                                Kepak Group Limited
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
354        Ellesmere   SY129BL           1            yes  339643.0  328883.0
355     Great Dunmow   CM6 1DA           1            yes       NaN       NaN
356         Aberdeen      None           3            yes       NaN       NaN
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0

       yr  mth
0    2018    9
1    2018    9
2    2018    9
3    2018    9
4    2018    9
..    ...  ...
354  2018    9
355  2018    9
356  2018    9
357  2018    9
358  2018    9

[359 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
323 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
324 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
325 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
326 NaN  7182                                David T Havard       Caerphilly
327 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
323            yes  186459.0  209697.0       capestoneorganicpoultrylimited
324            yes       NaN       NaN                uskvalepoultrylimited
325            yes  307802.0  208695.0                kepakfoodgrouplimited
326            yes  313792.0  185441.0                         davidthavard
327            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2018   10
1     DL135AA           1  2018   10
2     BD135HP           1  2018   10
3         NaN           1  2018   10
4     DN158QW           1  2018   10
..        ...         ...   ...  ...
323   SA623DY           2  2018   10
324       NaN           2  2018   10
325   CF482TA           2  2018   10
326   CF831NF           2  2018   10
327   SA146RX           2  2018   10

[328 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018   10                      frankbirdpoultrylimited      2
1    524280.0  2018   10                   joesimpsontafsimpsonandson      2
2         NaN  2018   10  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018   10              anglobeefprocessorsuktaabpperth      2
4         NaN  2018   10             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018   10                             moyparkballymena      2
336       NaN  2018   10                      mckeownfinefoodslimited      2
337       NaN  2018   10                                kearnspoultry      2
338       NaN  2018   10                              rockvalepoultry      2
339       NaN  2018   10                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[360 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018   10    1
1     1077  2018   10    2
2     1100  2018   10    3
3     1101  2018   10    4
4     1103  2018   10    5
..     ...   ...  ...  ...
335   9509  2018   10  336
336   9518  2018   10  337
337   9552  2018   10  338
338   9554  2018   10  339
339  GX401  2018   10  340

[328 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-november-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
355  356  5264                                      Sweetland Ltd
356  357  1106                                Kepak Group Limited
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited
359  360  2662                           Norfolk Meat Traders Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
355     Great Dunmow   CM6 1DA           1            yes       NaN       NaN
356         Aberdeen      None           3            yes       NaN       NaN
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0
359           Banham   NR162BX           1            yes  604748.0  288767.0

       yr  mth
0    2018   10
1    2018   10
2    2018   10
3    2018   10
4    2018   10
..    ...  ...
355  2018   10
356  2018   10
357  2018   10
358  2018   10
359  2018   10

[360 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
318 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
319 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
320 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
321 NaN  7182                                David T Havard       Caerphilly
322 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes  494736.0  449589.0          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
318            yes  186459.0  209697.0       capestoneorganicpoultrylimited
319            yes       NaN       NaN                uskvalepoultrylimited
320            yes  307802.0  208695.0                kepakfoodgrouplimited
321            yes  313792.0  185441.0                         davidthavard
322            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2018   11
1     DL135AA           1  2018   11
2     BD135HP           1  2018   11
3         NaN           1  2018   11
4     DN158QW           1  2018   11
..        ...         ...   ...  ...
318   SA623DY           2  2018   11
319       NaN           2  2018   11
320   CF482TA           2  2018   11
321   CF831NF           2  2018   11
322   SA146RX           2  2018   11

[323 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018   11                      frankbirdpoultrylimited      2
1    524280.0  2018   11                   joesimpsontafsimpsonandson      2
2         NaN  2018   11  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018   11              anglobeefprocessorsuktaabpperth      2
4         NaN  2018   11             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018   11                             moyparkballymena      2
336       NaN  2018   11                      mckeownfinefoodslimited      2
337       NaN  2018   11                                kearnspoultry      2
338       NaN  2018   11                              rockvalepoultry      2
339       NaN  2018   11                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[361 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018   11    1
1     1077  2018   11    2
2     1100  2018   11    3
3     1101  2018   11    4
4     1103  2018   11    5
..     ...   ...  ...  ...
335   9509  2018   11  336
336   9518  2018   11  337
337   9552  2018   11  338
338   9554  2018   11  339
339  GX401  2018   11  340

[323 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-december-2018.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
356  357  1106                                Kepak Group Limited
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited
359  360  2662                           Norfolk Meat Traders Ltd
360  361  8073                                   St Merryn Bodmin

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
356         Aberdeen      None           3            yes       NaN       NaN
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0
359           Banham   NR162BX           1            yes  604748.0  288767.0
360           Bodmin   PL312QB           1            yes  208344.0   67135.0

       yr  mth
0    2018   11
1    2018   11
2    2018   11
3    2018   11
4    2018   11
..    ...  ...
356  2018   11
357  2018   11
358  2018   10
359  2018   11
360  2018   11

[361 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
317 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
318 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
319 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
320 NaN  7182                                David T Havard       Caerphilly
321 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes  494736.0  449589.0          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
317            yes  186459.0  209697.0       capestoneorganicpoultrylimited
318            yes       NaN       NaN                uskvalepoultrylimited
319            yes  307802.0  208695.0                kepakfoodgrouplimited
320            yes  313792.0  185441.0                         davidthavard
321            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2018   12
1     DL135AA           1  2018   12
2     BD135HP           1  2018   12
3         NaN           1  2018   12
4     DN158QW           1  2018   12
..        ...         ...   ...  ...
317   SA623DY           2  2018   12
318       NaN           2  2018   12
319   CF482TA           2  2018   12
320   CF831NF           2  2018   12
321   SA146RX           2  2018   12

[322 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
335  336   9509                                 Moy Park Ballymena
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus       NaN           3            yes       NaN
3               Perth       NaN           3            yes       NaN
4             Turriff       NaN           3            yes       NaN
..                ...       ...         ...            ...       ...
335  BALLYMENA          BT423HA           4            yes       NaN
336         BALLYMENA   BT448RN           4            yes       NaN
337        BALLYMENA    BT449AA           4            yes       NaN
338            ARMAGH   BT619ND           4            yes       NaN
339          Guernsey   GY2 4JN           5            yes       NaN

            y    yr  mth                            tradingname_lcase  count  \
0    533629.0  2018   12                      frankbirdpoultrylimited      2
1    524280.0  2018   12                   joesimpsontafsimpsonandson      2
2         NaN  2018   12  2sisterspoultrylimitedta2sisterscouparangus      2
3         NaN  2018   12              anglobeefprocessorsuktaabpperth      2
4         NaN  2018   12             neerocklimitedtawoodheadbrothers      2
..        ...   ...  ...                                          ...    ...
335       NaN  2018   12                             moyparkballymena      2
336       NaN  2018   12                      mckeownfinefoodslimited      2
337       NaN  2018   12                                kearnspoultry      2
338       NaN  2018   12                              rockvalepoultry      2
339       NaN  2018   12                      stateofguernseyabattoir      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
335                             [moy, park, ballymena]
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
335                             [moy, park, ballymena]  0.0      yes
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes

[361 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2018   12    1
1     1077  2018   12    2
2     1100  2018   12    3
3     1101  2018   12    4
4     1103  2018   12    5
..     ...   ...  ...  ...
335   9509  2018   12  336
336   9518  2018   12  337
337   9552  2018   12  338
338   9554  2018   12  339
339  GX401  2018   12  340

[322 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-january-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
356  357  1106                                Kepak Group Limited
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited
359  360  2662                           Norfolk Meat Traders Ltd
360  361  8073                                   St Merryn Bodmin

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
356         Aberdeen      None           3            yes       NaN       NaN
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0
359           Banham   NR162BX           1            yes  604748.0  288767.0
360           Bodmin   PL312QB           1            yes  208344.0   67135.0

       yr  mth
0    2018   12
1    2018   12
2    2018   12
3    2018   12
4    2018   12
..    ...  ...
356  2018   12
357  2018   12
358  2018   10
359  2018   12
360  2018   12

[361 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
317 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
318 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
319 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
320 NaN  7182                                David T Havard       Caerphilly
321 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes  494736.0  449589.0          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
317            yes  186459.0  209697.0       capestoneorganicpoultrylimited
318            yes       NaN       NaN                uskvalepoultrylimited
319            yes  307802.0  208695.0                kepakfoodgrouplimited
320            yes  313792.0  185441.0                         davidthavard
321            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    1
1     DL135AA           1  2019    1
2     BD135HP           1  2019    1
3         NaN           1  2019    1
4     DN158QW           1  2019    1
..        ...         ...   ...  ...
317   SA623DY           2  2019    1
318       NaN           2  2019    1
319   CF482TA           2  2019    1
320   CF831NF           2  2019    1
321   SA146RX           2  2019    1

[322 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle Of man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle Of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    1                      frankbirdpoultrylimited      2
1    2019    1                   joesimpsontafsimpsonandson      2
2    2019    1  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    1              anglobeefprocessorsuktaabpperth      2
4    2019    1             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    1                      mckeownfinefoodslimited      2
337  2019    1                                kearnspoultry      2
338  2019    1                              rockvalepoultry      2
339  2019    1                      stateofguernseyabattoir      2
361  2019    1                               isleofmanmeats      1

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                                                NaN  NaN      NaN

[362 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    1    1
1     1077  2019    1    2
2     1100  2019    1    3
3     1101  2019    1    4
4     1103  2019    1    5
..     ...   ...  ...  ...
336   9518  2019    1  337
337   9552  2019    1  338
338   9554  2019    1  339
339  GX401  2019    1  340
361   IOM1  2019    1  362

[322 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-february-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited
359  360  2662                           Norfolk Meat Traders Ltd
360  361  8073                                   St Merryn Bodmin
361  362  IOM1                                  Isle Of man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0
359           Banham   NR162BX           1            yes  604748.0  288767.0
360           Bodmin   PL312QB           1            yes  208344.0   67135.0
361      Isle Of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth
0    2019    1
1    2019    1
2    2019    1
3    2019    1
4    2019    1
..    ...  ...
357  2019    1
358  2018   10
359  2019    1
360  2019    1
361  2019    1

[362 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
314 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
315 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
316 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
317 NaN  7182                                David T Havard       Caerphilly
318 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
314            yes  186459.0  209697.0       capestoneorganicpoultrylimited
315            yes       NaN       NaN                uskvalepoultrylimited
316            yes  307802.0  208695.0                kepakfoodgrouplimited
317            yes  313792.0  185441.0                         davidthavard
318            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    2
1     DL135AA           1  2019    2
2     BD135HP           1  2019    2
3         NaN           1  2019    2
4     DN158QW           1  2019    2
..        ...         ...   ...  ...
314   SA623DY           2  2019    2
315       NaN           2  2019    2
316   CF482TA           2  2019    2
317   CF831NF           2  2019    2
318   SA146RX           2  2019    2

[319 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle Of man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle Of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    2                      frankbirdpoultrylimited      2
1    2019    2                   joesimpsontafsimpsonandson      2
2    2019    2  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    2              anglobeefprocessorsuktaabpperth      2
4    2019    2             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    2                      mckeownfinefoodslimited      2
337  2019    2                                kearnspoultry      2
338  2019    2                              rockvalepoultry      2
339  2019    2                      stateofguernseyabattoir      2
361  2019    2                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[362 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    2    1
1     1077  2019    2    2
2     1100  2019    2    3
3     1101  2019    2    4
4     1103  2019    2    5
..     ...   ...  ...  ...
336   9518  2019    2  337
337   9552  2019    2  338
338   9554  2019    2  339
339  GX401  2019    2  340
361   IOM1  2019    2  362

[319 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-march-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
357  358  7176                           Kepak Food Group Limited
358  359  8073                           Kepak Food Group Limited
359  360  2662                           Norfolk Meat Traders Ltd
360  361  8073                                   St Merryn Bodmin
361  362  IOM1                                  Isle Of man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
357   Merthyr Tydfil   CF482TA           2            yes  307802.0  208695.0
358           Bodmin   PL312QB           1            yes  208344.0   67135.0
359           Banham   NR162BX           1            yes  604748.0  288767.0
360           Bodmin   PL312QB           1            yes  208344.0   67135.0
361      Isle Of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth
0    2019    2
1    2019    2
2    2019    2
3    2019    2
4    2019    2
..    ...  ...
357  2019    2
358  2018   10
359  2019    2
360  2019    2
361  2019    2

[362 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
313 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
314 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
315 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
316 NaN  7182                                David T Havard       Caerphilly
317 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
313            yes  186459.0  209697.0       capestoneorganicpoultrylimited
314            yes       NaN       NaN                uskvalepoultrylimited
315            yes  307802.0  208695.0                kepakfoodgrouplimited
316            yes  313792.0  185441.0                         davidthavard
317            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    3
1     DL135AA           1  2019    3
2     BD135HP           1  2019    3
3         NaN           1  2019    3
4     DN158QW           1  2019    3
..        ...         ...   ...  ...
313   SA623DY           2  2019    3
314       NaN           2  2019    3
315   CF482TA           2  2019    3
316   CF831NF           2  2019    3
317   SA146RX           2  2019    3

[318 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    3                      frankbirdpoultrylimited      2
1    2019    3                   joesimpsontafsimpsonandson      2
2    2019    3  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    3              anglobeefprocessorsuktaabpperth      2
4    2019    3             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    3                      mckeownfinefoodslimited      2
337  2019    3                                kearnspoultry      2
338  2019    3                              rockvalepoultry      2
339  2019    3                      stateofguernseyabattoir      2
361  2019    3                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[364 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    3    1
1     1077  2019    3    2
2     1100  2019    3    3
3     1101  2019    3    4
4     1103  2019    3    5
..     ...   ...  ...  ...
336   9518  2019    3  337
337   9552  2019    3  338
338   9554  2019    3  339
339  GX401  2019    3  340
361   IOM1  2019    3  362

[318 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-april-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
359  360  2662                           Norfolk Meat Traders Ltd
360  361  8073                                   St Merryn Bodmin
361  362  IOM1                                  Isle of Man Meats
362  363  2399                                 Chai Meats Limited
363  364  5218                              Arthur J Howell & Son

                   town postcode7  country_id slaughterhouse         x  \
0               Penrith   CA101NB           1            yes  357081.0
1       Bishop Auckland   DL135AA           1            yes  412803.0
2          Coupar Angus      None           3            yes       NaN
3                 Perth      None           3            yes       NaN
4               Turriff      None           3            yes       NaN
..                  ...       ...         ...            ...       ...
359              Banham   NR162BX           1            yes  604748.0
360              Bodmin   PL312QB           1            yes  208344.0
361         Isle of Man   IM4 4QE           7            yes       NaN
362            Bradford   BD3 9RD           1            yes       NaN
363  Wells Next The Sea   NR231AN           1            yes  591678.0

            y    yr  mth
0    533629.0  2019    3
1    524280.0  2019    3
2         NaN  2019    3
3         NaN  2019    3
4         NaN  2019    3
..        ...   ...  ...
359  288767.0  2019    3
360   67135.0  2019    3
361       NaN  2019    3
362       NaN  2019    3
363  343666.0  2019    3

[364 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
312 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
313 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
314 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
315 NaN  7182                                David T Havard       Caerphilly
316 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
312            yes  186459.0  209697.0       capestoneorganicpoultrylimited
313            yes       NaN       NaN                uskvalepoultrylimited
314            yes  307802.0  208695.0                kepakfoodgrouplimited
315            yes  313792.0  185441.0                         davidthavard
316            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    4
1     DL135AA           1  2019    4
2     BD135HP           1  2019    4
3         NaN           1  2019    4
4     DN158QW           1  2019    4
..        ...         ...   ...  ...
312   SA623DY           2  2019    4
313       NaN           2  2019    4
314   CF482TA           2  2019    4
315   CF831NF           2  2019    4
316   SA146RX           2  2019    4

[317 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    4                      frankbirdpoultrylimited      2
1    2019    4                   joesimpsontafsimpsonandson      2
2    2019    4  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    4              anglobeefprocessorsuktaabpperth      2
4    2019    4             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    4                      mckeownfinefoodslimited      2
337  2019    4                                kearnspoultry      2
338  2019    4                              rockvalepoultry      2
339  2019    4                      stateofguernseyabattoir      2
361  2019    4                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[365 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    4    1
1     1077  2019    4    2
2     1100  2019    4    3
3     1101  2019    4    4
4     1103  2019    4    5
..     ...   ...  ...  ...
336   9518  2019    4  337
337   9552  2019    4  338
338   9554  2019    4  339
339  GX401  2019    4  340
361   IOM1  2019    4  362

[317 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-may-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
360  361  8073                                   St Merryn Bodmin
361  362  IOM1                                  Isle of Man Meats
362  363  2399                                 Chai Meats Limited
363  364  5218                              Arthur J Howell & Son
364  365  7023                    Cig Eryri - Snowdonia Meats Cyf

                   town postcode7  country_id slaughterhouse         x  \
0               Penrith   CA101NB           1            yes  357081.0
1       Bishop Auckland   DL135AA           1            yes  412803.0
2          Coupar Angus      None           3            yes       NaN
3                 Perth      None           3            yes       NaN
4               Turriff      None           3            yes       NaN
..                  ...       ...         ...            ...       ...
360              Bodmin   PL312QB           1            yes  208344.0
361         Isle of Man   IM4 4QE           7            yes       NaN
362            Bradford   BD3 9RD           1            yes       NaN
363  Wells Next The Sea   NR231AN           1            yes  591678.0
364  Blaenau Ffestiniog   LL414PY           2            yes  271610.0

            y    yr  mth
0    533629.0  2019    4
1    524280.0  2019    4
2         NaN  2019    4
3         NaN  2019    4
4         NaN  2019    4
..        ...   ...  ...
360   67135.0  2019    4
361       NaN  2019    4
362       NaN  2019    4
363  343666.0  2019    4
364  340732.0  2019    4

[365 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
311 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
312 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
313 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
314 NaN  7182                                David T Havard       Caerphilly
315 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
311            yes  186459.0  209697.0       capestoneorganicpoultrylimited
312            yes       NaN       NaN                uskvalepoultrylimited
313            yes  307802.0  208695.0                kepakfoodgrouplimited
314            yes  313792.0  185441.0                         davidthavard
315            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    5
1     DL135AA           1  2019    5
2     BD135HP           1  2019    5
3         NaN           1  2019    5
4     DN158QW           1  2019    5
..        ...         ...   ...  ...
311   SA623DY           2  2019    5
312       NaN           2  2019    5
313   CF482TA           2  2019    5
314   CF831NF           2  2019    5
315   SA146RX           2  2019    5

[316 rows x 12 columns]

Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    5                      frankbirdpoultrylimited      2
1    2019    5                   joesimpsontafsimpsonandson      2
2    2019    5  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    5              anglobeefprocessorsuktaabpperth      2
4    2019    5             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    5                      mckeownfinefoodslimited      2
337  2019    5                                kearnspoultry      2
338  2019    5                              rockvalepoultry      2
339  2019    5                      stateofguernseyabattoir      2
361  2019    5                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[366 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    5    1
1     1077  2019    5    2
2     1100  2019    5    3
3     1101  2019    5    4
4     1103  2019    5    5
..     ...   ...  ...  ...
336   9518  2019    5  337
337   9552  2019    5  338
338   9554  2019    5  339
339  GX401  2019    5  340
361   IOM1  2019    5  362

[316 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-june-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
361  362  IOM1                                  Isle of Man Meats
362  363  2399                                 Chai Meats Limited
363  364  5218                              Arthur J Howell & Son
364  365  7023                    Cig Eryri - Snowdonia Meats Cyf
365  366  4015       A.S. Audhali Farm Gate Fresh Poultry Limited

                   town postcode7  country_id slaughterhouse         x  \
0               Penrith   CA101NB           1            yes  357081.0
1       Bishop Auckland   DL135AA           1            yes  412803.0
2          Coupar Angus      None           3            yes       NaN
3                 Perth      None           3            yes       NaN
4               Turriff      None           3            yes       NaN
..                  ...       ...         ...            ...       ...
361         Isle of Man   IM4 4QE           7            yes       NaN
362            Bradford   BD3 9RD           1            yes       NaN
363  Wells Next The Sea   NR231AN           1            yes  591678.0
364  Blaenau Ffestiniog   LL414PY           2            yes  271610.0
365              Hatton   CV357HZ           1            yes  422243.0

            y    yr  mth
0    533629.0  2019    5
1    524280.0  2019    5
2         NaN  2019    5
3         NaN  2019    5
4         NaN  2019    5
..        ...   ...  ...
361       NaN  2019    5
362       NaN  2019    5
363  343666.0  2019    5
364  340732.0  2019    5
365  268854.0  2019    5

[366 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
311 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
312 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
313 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
314 NaN  7182                                David T Havard       Caerphilly
315 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
311            yes  186459.0  209697.0       capestoneorganicpoultrylimited
312            yes       NaN       NaN                uskvalepoultrylimited
313            yes  307802.0  208695.0                kepakfoodgrouplimited
314            yes  313792.0  185441.0                         davidthavard
315            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    6
1     DL135AA           1  2019    6
2     BD135HP           1  2019    6
3         NaN           1  2019    6
4     DN158QW           1  2019    6
..        ...         ...   ...  ...
311   SA623DY           2  2019    6
312       NaN           2  2019    6
313   CF482TA           2  2019    6
314   CF831NF           2  2019    6
315   SA146RX           2  2019    6

[316 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    6                      frankbirdpoultrylimited      2
1    2019    6                   joesimpsontafsimpsonandson      2
2    2019    6  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    6              anglobeefprocessorsuktaabpperth      2
4    2019    6             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    6                      mckeownfinefoodslimited      2
337  2019    6                                kearnspoultry      2
338  2019    6                              rockvalepoultry      2
339  2019    6                      stateofguernseyabattoir      2
361  2019    6                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[367 rows x 17 columns]

Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    6    1
1     1077  2019    6    2
2     1100  2019    6    3
3     1101  2019    6    4
4     1103  2019    6    5
..     ...   ...  ...  ...
336   9518  2019    6  337
337   9552  2019    6  338
338   9554  2019    6  339
339  GX401  2019    6  340
361   IOM1  2019    6  362

[316 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-july-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
362  363  2399                                 Chai Meats Limited
363  364  5218                              Arthur J Howell & Son
364  365  7023                    Cig Eryri - Snowdonia Meats Cyf
365  366  4015       A.S. Audhali Farm Gate Fresh Poultry Limited
366  367  2368                          J S Quality Meats Limited

                   town postcode7  country_id slaughterhouse         x  \
0               Penrith   CA101NB           1            yes  357081.0
1       Bishop Auckland   DL135AA           1            yes  412803.0
2          Coupar Angus      None           3            yes       NaN
3                 Perth      None           3            yes       NaN
4               Turriff      None           3            yes       NaN
..                  ...       ...         ...            ...       ...
362            Bradford   BD3 9RD           1            yes       NaN
363  Wells Next The Sea   NR231AN           1            yes  591678.0
364  Blaenau Ffestiniog   LL414PY           2            yes  271610.0
365              Hatton   CV357HZ           1            yes  422243.0
366           Uttoxeter   ST145AA           1            yes  409599.0

            y    yr  mth
0    533629.0  2019    6
1    524280.0  2019    6
2         NaN  2019    6
3         NaN  2019    6
4         NaN  2019    6
..        ...   ...  ...
362       NaN  2019    6
363  343666.0  2019    6
364  340732.0  2019    6
365  268854.0  2019    6
366  334548.0  2019    6

[367 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  2019                               HCF Poultry Ltd         Bradford
3   NaN  2023                  T Soanes & Son (Poultry) Ltd        Driffield
4   NaN  2037                      2 Sisters Food Group Ltd       Scunthorpe
..   ..   ...                                           ...              ...
309 NaN  7164                          Usk Vale Poultry Ltd        Pontypool
310 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
311 NaN  7182                                David T Havard       Caerphilly
312 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli
313 NaN  7226                  Picton Quality Meats Limited    Pembrokeshire

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  357081.0  533629.0              frankbirdpoultrylimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  406519.0  436710.0                    hcfpoultrylimited
3              yes       NaN       NaN          tsoanesandsonpoultrylimited
4              yes  488464.0  413261.0             2sistersfoodgrouplimited
..             ...       ...       ...                                  ...
309            yes       NaN       NaN                uskvalepoultrylimited
310            yes  307802.0  208695.0                kepakfoodgrouplimited
311            yes  313792.0  185441.0                         davidthavard
312            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru
313            yes  196290.0  218525.0            pictonqualitymeatslimited

    postcode7  country_id    yr  mth
0     CA101NB           1  2019    7
1     DL135AA           1  2019    7
2     BD135HP           1  2019    7
3         NaN           1  2019    7
4     DN158QW           1  2019    7
..        ...         ...   ...  ...
309       NaN           2  2019    7
310   CF482TA           2  2019    7
311   CF831NF           2  2019    7
312   SA146RX           2  2019    7
313   SA624BS           2  2019    7

[314 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    7                      frankbirdpoultrylimited      2
1    2019    7                   joesimpsontafsimpsonandson      2
2    2019    7  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    7              anglobeefprocessorsuktaabpperth      2
4    2019    7             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    7                      mckeownfinefoodslimited      2
337  2019    7                                kearnspoultry      2
338  2019    7                              rockvalepoultry      2
339  2019    7                      stateofguernseyabattoir      2
361  2019    7                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[372 rows x 17 columns]

Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    7    1
1     1077  2019    7    2
2     1100  2019    7    3
3     1101  2019    7    4
4     1103  2019    7    5
..     ...   ...  ...  ...
336   9518  2019    7  337
337   9552  2019    7  338
338   9554  2019    7  339
339  GX401  2019    7  340
361   IOM1  2019    7  362

[314 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-august-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
367  368  2748                               S and Y abattoir Ltd
368  369  3007           Faccenda Foods Limited (T/A Avara Foods)
369  370  4015                                 Shafa Farm Limited
370  371  4026           Faccenda Foods Limited (T/A Avara Foods)
371  372  7226                       Picton Quality Meats Limited

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
367            Bacup   OL130ET           1            yes  385862.0  421772.0
368         Brackley   NN137EX           1            yes  459223.0  236768.0
369           Hatton   CV357HZ           1            yes  422243.0  268854.0
370         Scropton   DE655PS           1            yes  419934.0  330053.0
371    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0

       yr  mth
0    2019    7
1    2019    7
2    2019    7
3    2019    7
4    2019    7
..    ...  ...
367  2019    7
368  2019    7
369  2019    7
370  2019    7
371  2019    7

[372 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                   tradingname             town  \
0   NaN  2748                          S and Y abattoir Ltd            Bacup
1   NaN  1077           Joe Simpson (T/A F Simpson and Son)  Bishop Auckland
2   NaN  1007                      Frank Bird (Poultry) Ltd          Penrith
3   NaN  2670                         Manifold Valley Meats             Leek
4   NaN  2019                               HCF Poultry Ltd         Bradford
..   ..   ...                                           ...              ...
308 NaN  7176                      Kepak Food Group Limited   Merthyr Tydfil
309 NaN  7182                                David T Havard       Caerphilly
310 NaN  7161             Capestone Organic Poultry Limited    Haverfordwest
311 NaN  7198  Cig Calon Cymru 2010 CYF T/A Cig Calon Cymru         Llanelli
312 NaN  7226                  Picton Quality Meats Limited    Pembrokeshire

    slaughterhouse         x         y                    tradingname_lcase  \
0              yes  385862.0  421772.0                 sandyabattoirlimited
1              yes  412803.0  524280.0           joesimpsontafsimpsonandson
2              yes  357081.0  533629.0              frankbirdpoultrylimited
3              yes  408365.0  353435.0                  manifoldvalleymeats
4              yes  406519.0  436710.0                    hcfpoultrylimited
..             ...       ...       ...                                  ...
308            yes  307802.0  208695.0                kepakfoodgrouplimited
309            yes  313792.0  185441.0                         davidthavard
310            yes  186459.0  209697.0       capestoneorganicpoultrylimited
311            yes  257290.0  212608.0  cigcaloncymru2010cyftacigcaloncymru
312            yes  196290.0  218525.0            pictonqualitymeatslimited

    postcode7  country_id    yr  mth
0     OL130ET           1  2019    8
1     DL135AA           1  2019    8
2     CA101NB           1  2019    8
3     ST137TT           1  2019    8
4     BD135HP           1  2019    8
..        ...         ...   ...  ...
308   CF482TA           2  2019    8
309   CF831NF           2  2019    8
310   SA623DY           2  2019    8
311   SA146RX           2  2019    8
312   SA624BS           2  2019    8

[313 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    8                      frankbirdpoultrylimited      2
1    2019    8                   joesimpsontafsimpsonandson      2
2    2019    8  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    8              anglobeefprocessorsuktaabpperth      2
4    2019    8             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    8                      mckeownfinefoodslimited      2
337  2019    8                                kearnspoultry      2
338  2019    8                              rockvalepoultry      2
339  2019    8                      stateofguernseyabattoir      2
361  2019    8                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                    [state, of, guernsey, abattoir]  0.0      yes
361                             [isle, of, man, meats]  0.0      yes

[376 rows x 17 columns]


Combined appno dataframe
------------------------
     appno    yr  mth   id
0     1007  2019    8    1
1     1077  2019    8    2
2     1100  2019    8    3
3     1101  2019    8    4
4     1103  2019    8    5
..     ...   ...  ...  ...
336   9518  2019    8  337
337   9552  2019    8  338
338   9554  2019    8  339
339  GX401  2019    8  340
361   IOM1  2019    8  362

[313 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-september-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
371  372  7226                       Picton Quality Meats Limited
372  373  2662                            Moor Farm Meats Limited
373  374  4199  Leansale Limited (TA Roopyal Laham Halaal Butc...
374  375  4227                            Manchester Abattoir Ltd
375  376  9301                                      DMP Foods Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
371    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
372           Banham   NR162BX           1            yes  604748.0  288767.0
373       Birmingham   B11 4AA           1            yes       NaN       NaN
374        Stockport   SK4 1BJ           1            yes       NaN       NaN
375          Crumlin   BT294RS           4            yes       NaN       NaN

       yr  mth
0    2019    8
1    2019    8
2    2019    8
3    2019    8
4    2019    8
..    ...  ...
371  2019    8
372  2019    8
373  2019    8
374  2019    8
375  2019    8

[376 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3   NaN  1101             Anglo Beef Processors UK T/A ABP Perth
4   NaN  1103            Neerock Limited (T/A Woodhead Brothers)
..   ..   ...                                                ...
304 NaN  9509                                 Moy Park Ballymena
305 NaN  9518                             McKeown Fine Foods Ltd
306 NaN  9552                                     Kearns Poultry
307 NaN  9554                                   Rockvale Poultry
308 NaN  IOM1                                  Isle of Man Meats

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
2        Coupar Angus            yes       NaN       NaN
3               Perth            yes       NaN       NaN
4             Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
304  BALLYMENA                   yes       NaN       NaN
305         BALLYMENA            yes       NaN       NaN
306        BALLYMENA             yes       NaN       NaN
307            ARMAGH            yes       NaN       NaN
308       Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
2    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
3                anglobeefprocessorsuktaabpperth       NaN           3  2019
4               neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
304                             moyparkballymena   BT423HA           4  2019
305                      mckeownfinefoodslimited   BT448RN           4  2019
306                                kearnspoultry   BT449AA           4  2019
307                              rockvalepoultry   BT619ND           4  2019
308                               isleofmanmeats   IM4 4QE           7  2019

     mth
0      9
1      9
2      9
3      9
4      9
..   ...
304    9
305    9
306    9
307    9
308    9

[309 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019    9                      frankbirdpoultrylimited      2
1    2019    9                   joesimpsontafsimpsonandson      2
2    2019    9  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019    9              anglobeefprocessorsuktaabpperth      2
4    2019    9             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019    9                      mckeownfinefoodslimited      2
337  2019    9                                kearnspoultry      2
338  2019    9                              rockvalepoultry      2
339  2019    8                                          NaN      1
361  2019    9                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                                                NaN  NaN      NaN
361                             [isle, of, man, meats]  0.0      yes

[376 rows x 17 columns]

Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2019    9    1
1    1077  2019    9    2
2    1100  2019    9    3
3    1101  2019    9    4
4    1103  2019    9    5
..    ...   ...  ...  ...
335  9509  2019    9  336
336  9518  2019    9  337
337  9552  2019    9  338
338  9554  2019    9  339
361  IOM1  2019    9  362

[309 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-october-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
371  372  7226                       Picton Quality Meats Limited
372  373  2662                            Moor Farm Meats Limited
373  374  4199  Leansale Limited (TA Roopyal Laham Halaal Butc...
374  375  4227                            Manchester Abattoir Ltd
375  376  9301                                      DMP Foods Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
371    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
372           Banham   NR162BX           1            yes  604748.0  288767.0
373       Birmingham   B11 4AA           1            yes       NaN       NaN
374        Stockport   SK4 1BJ           1            yes       NaN       NaN
375          Crumlin   BT294RS           4            yes       NaN       NaN

       yr  mth
0    2019    9
1    2019    9
2    2019    9
3    2019    9
4    2019    9
..    ...  ...
371  2019    8
372  2019    8
373  2019    9
374  2019    9
375  2019    9

[376 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3   NaN  1101             Anglo Beef Processors UK T/A ABP Perth
4   NaN  1103            Neerock Limited (T/A Woodhead Brothers)
..   ..   ...                                                ...
304 NaN  9509                                 Moy Park Ballymena
305 NaN  9518                             McKeown Fine Foods Ltd
306 NaN  9552                                     Kearns Poultry
307 NaN  9554                                   Rockvale Poultry
308 NaN  IOM1                                  Isle of Man Meats

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
2        Coupar Angus            yes       NaN       NaN
3               Perth            yes       NaN       NaN
4             Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
304  BALLYMENA                   yes       NaN       NaN
305         BALLYMENA            yes       NaN       NaN
306        BALLYMENA             yes       NaN       NaN
307            ARMAGH            yes       NaN       NaN
308       Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
2    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
3                anglobeefprocessorsuktaabpperth       NaN           3  2019
4               neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
304                             moyparkballymena   BT423HA           4  2019
305                      mckeownfinefoodslimited   BT448RN           4  2019
306                                kearnspoultry   BT449AA           4  2019
307                              rockvalepoultry   BT619ND           4  2019
308                               isleofmanmeats   IM4 4QE           7  2019

     mth
0     10
1     10
2     10
3     10
4     10
..   ...
304   10
305   10
306   10
307   10
308   10

[309 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019   10                      frankbirdpoultrylimited      2
1    2019   10                   joesimpsontafsimpsonandson      2
2    2019   10  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019   10              anglobeefprocessorsuktaabpperth      2
4    2019   10             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019   10                      mckeownfinefoodslimited      2
337  2019   10                                kearnspoultry      2
338  2019   10                              rockvalepoultry      2
339  2019    8                                          NaN      1
361  2019   10                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                                                NaN  NaN      NaN
361                             [isle, of, man, meats]  0.0      yes

[376 rows x 17 columns]

Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2019   10    1
1    1077  2019   10    2
2    1100  2019   10    3
3    1101  2019   10    4
4    1103  2019   10    5
..    ...   ...  ...  ...
335  9509  2019   10  336
336  9518  2019   10  337
337  9552  2019   10  338
338  9554  2019   10  339
361  IOM1  2019   10  362

[309 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-november-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
371  372  7226                       Picton Quality Meats Limited
372  373  2662                            Moor Farm Meats Limited
373  374  4199  Leansale Limited (TA Roopyal Laham Halaal Butc...
374  375  4227                            Manchester Abattoir Ltd
375  376  9301                                      DMP Foods Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
371    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
372           Banham   NR162BX           1            yes  604748.0  288767.0
373       Birmingham   B11 4AA           1            yes       NaN       NaN
374        Stockport   SK4 1BJ           1            yes       NaN       NaN
375          Crumlin   BT294RS           4            yes       NaN       NaN

       yr  mth
0    2019   10
1    2019   10
2    2019   10
3    2019   10
4    2019   10
..    ...  ...
371  2019    8
372  2019    8
373  2019   10
374  2019   10
375  2019   10

[376 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3   NaN  1101             Anglo Beef Processors UK T/A ABP Perth
4   NaN  1103            Neerock Limited (T/A Woodhead Brothers)
..   ..   ...                                                ...
306 NaN  9509                                 Moy Park Ballymena
307 NaN  9518                             McKeown Fine Foods Ltd
308 NaN  9552                                     Kearns Poultry
309 NaN  9554                                   Rockvale Poultry
310 NaN  IOM1                                  Isle of Man Meats

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
2        Coupar Angus            yes       NaN       NaN
3               Perth            yes       NaN       NaN
4             Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
306  BALLYMENA                   yes       NaN       NaN
307         BALLYMENA            yes       NaN       NaN
308        BALLYMENA             yes       NaN       NaN
309            ARMAGH            yes       NaN       NaN
310       Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
2    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
3                anglobeefprocessorsuktaabpperth       NaN           3  2019
4               neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
306                             moyparkballymena   BT423HA           4  2019
307                      mckeownfinefoodslimited   BT448RN           4  2019
308                                kearnspoultry   BT449AA           4  2019
309                              rockvalepoultry   BT619ND           4  2019
310                               isleofmanmeats   IM4 4QE           7  2019

     mth
0     11
1     11
2     11
3     11
4     11
..   ...
306   11
307   11
308   11
309   11
310   11

[311 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019   11                      frankbirdpoultrylimited      2
1    2019   11                   joesimpsontafsimpsonandson      2
2    2019   11  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019   11              anglobeefprocessorsuktaabpperth      2
4    2019   11             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019   11                      mckeownfinefoodslimited      2
337  2019   11                                kearnspoultry      2
338  2019   11                              rockvalepoultry      2
339  2019    8                                          NaN      1
361  2019   11                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                                                NaN  NaN      NaN
361                             [isle, of, man, meats]  0.0      yes

[377 rows x 17 columns]

Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2019   11    1
1    1077  2019   11    2
2    1100  2019   11    3
3    1101  2019   11    4
4    1103  2019   11    5
..    ...   ...  ...  ...
335  9509  2019   11  336
336  9518  2019   11  337
337  9552  2019   11  338
338  9554  2019   11  339
361  IOM1  2019   11  362

[311 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-december-2019.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
372  373  2662                            Moor Farm Meats Limited
373  374  4199  Leansale Limited (TA Roopyal Laham Halaal Butc...
374  375  4227                            Manchester Abattoir Ltd
375  376  9301                                      DMP Foods Ltd
376  377  7226                                    Euro Farm Wales

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
372           Banham   NR162BX           1            yes  604748.0  288767.0
373       Birmingham   B11 4AA           1            yes       NaN       NaN
374        Stockport   SK4 1BJ           1            yes       NaN       NaN
375          Crumlin   BT294RS           4            yes       NaN       NaN
376    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0

       yr  mth
0    2019   11
1    2019   11
2    2019   11
3    2019   11
4    2019   11
..    ...  ...
372  2019   11
373  2019   11
374  2019   11
375  2019   11
376  2019   11

[377 rows x 11 columns]


Second dataframe (post processing)
================
     id appno                                        tradingname  \
0   NaN  1007                           Frank Bird (Poultry) Ltd
1   NaN  1077                Joe Simpson (T/A F Simpson and Son)
2   NaN  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3   NaN  1101             Anglo Beef Processors UK T/A ABP Perth
4   NaN  1103            Neerock Limited (T/A Woodhead Brothers)
..   ..   ...                                                ...
308 NaN  9509                                 Moy Park Ballymena
309 NaN  9518                             McKeown Fine Foods Ltd
310 NaN  9552                                     Kearns Poultry
311 NaN  9554                                   Rockvale Poultry
312 NaN  IOM1                                  Isle of Man Meats

                 town slaughterhouse         x         y  \
0             Penrith            yes  357081.0  533629.0
1     Bishop Auckland            yes  412803.0  524280.0
2        Coupar Angus            yes       NaN       NaN
3               Perth            yes       NaN       NaN
4             Turriff            yes       NaN       NaN
..                ...            ...       ...       ...
308  BALLYMENA                   yes       NaN       NaN
309         BALLYMENA            yes       NaN       NaN
310        BALLYMENA             yes       NaN       NaN
311            ARMAGH            yes       NaN       NaN
312       Isle of Man            yes       NaN       NaN

                               tradingname_lcase postcode7  country_id    yr  \
0                        frankbirdpoultrylimited   CA101NB           1  2019
1                     joesimpsontafsimpsonandson   DL135AA           1  2019
2    2sisterspoultrylimitedta2sisterscouparangus       NaN           3  2019
3                anglobeefprocessorsuktaabpperth       NaN           3  2019
4               neerocklimitedtawoodheadbrothers       NaN           3  2019
..                                           ...       ...         ...   ...
308                             moyparkballymena   BT423HA           4  2019
309                      mckeownfinefoodslimited   BT448RN           4  2019
310                                kearnspoultry   BT449AA           4  2019
311                              rockvalepoultry   BT619ND           4  2019
312                               isleofmanmeats   IM4 4QE           7  2019

     mth
0     12
1     12
2     12
3     12
4     12
..   ...
308   12
309   12
310   12
311   12
312   12

[313 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
4      5   1103            Neerock Limited (T/A Woodhead Brothers)
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
4            Turriff       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                            tradingname_lcase  count  \
0    2019   12                      frankbirdpoultrylimited      2
1    2019   12                   joesimpsontafsimpsonandson      2
2    2019   12  2sisterspoultrylimitedta2sisterscouparangus      2
3    2019   12              anglobeefprocessorsuktaabpperth      2
4    2019   12             neerocklimitedtawoodheadbrothers      2
..    ...  ...                                          ...    ...
336  2019   12                      mckeownfinefoodslimited      2
337  2019   12                                kearnspoultry      2
338  2019   12                              rockvalepoultry      2
339  2019    8                                          NaN      1
361  2019   12                               isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
3        [anglo, beef, processors, uk, ta, abp, perth]
4                    [neerock, ta, woodhead, brothers]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens   jd samename
0                               [frank, bird, poultry]  0.0      yes
1                  [joe, simpson, ta, f, simpson, son]  0.0      yes
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.0      yes
3        [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
4                    [neerock, ta, woodhead, brothers]  0.0      yes
..                                                 ...  ...      ...
336                             [mckeown, fine, foods]  0.0      yes
337                                  [kearns, poultry]  0.0      yes
338                                [rockvale, poultry]  0.0      yes
339                                                NaN  NaN      NaN
361                             [isle, of, man, meats]  0.0      yes

[379 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2019   12    1
1    1077  2019   12    2
2    1100  2019   12    3
3    1101  2019   12    4
4    1103  2019   12    5
..    ...   ...  ...  ...
335  9509  2019   12  336
336  9518  2019   12  337
337  9552  2019   12  338
338  9554  2019   12  339
361  IOM1  2019   12  362

[313 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-january-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
374  375  4227                            Manchester Abattoir Ltd
375  376  9301                                      DMP Foods Ltd
376  377  7226                                    Euro Farm Wales
377  378  2750                        Cranswick Country Foods Eye
378  379  5008                               Shazan Foods Limited

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
374        Stockport   SK4 1BJ           1            yes       NaN       NaN
375          Crumlin   BT294RS           4            yes       NaN       NaN
376    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
377           Yaxley   IP238BW           1            yes  612907.0  274817.0
378              Eye   IP237AJ           1            yes  614371.0  273759.0

       yr  mth
0    2019   12
1    2019   12
2    2019   12
3    2019   12
4    2019   12
..    ...  ...
374  2019   12
375  2019   12
376  2019   12
377  2019   12
378  2019   12

[379 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                              tradingname              town  \
0   NaN  1007                 Frank Bird (Poultry) Ltd           Penrith
1   NaN  1077      Joe Simpson (T/A F Simpson and Son)   Bishop Auckland
2   NaN  1100                 2 Sisters Food Group Ltd      Coupar Angus
3   NaN  1101   Anglo Beef Processors UK T/A ABP Perth             Perth
4   NaN  1103  Neerock Limited (T/A Woodhead Brothers)           Turriff
..   ..   ...                                      ...               ...
307 NaN  9509                       Moy Park Ballymena  BALLYMENA
308 NaN  9518                   McKeown Fine Foods Ltd         BALLYMENA
309 NaN  9552                           Kearns Poultry        BALLYMENA
310 NaN  9554                         Rockvale Poultry            ARMAGH
311 NaN  IOM1                        Isle of Man Meats       Isle of Man

    slaughterhouse         x         y                 tradingname_lcase  \
0              yes  357081.0  533629.0           frankbirdpoultrylimited
1              yes  412803.0  524280.0        joesimpsontafsimpsonandson
2              yes       NaN       NaN          2sistersfoodgrouplimited
3              yes       NaN       NaN   anglobeefprocessorsuktaabpperth
4              yes       NaN       NaN  neerocklimitedtawoodheadbrothers
..             ...       ...       ...                               ...
307            yes       NaN       NaN                  moyparkballymena
308            yes       NaN       NaN           mckeownfinefoodslimited
309            yes       NaN       NaN                     kearnspoultry
310            yes       NaN       NaN                   rockvalepoultry
311            yes       NaN       NaN                    isleofmanmeats

    postcode7  country_id    yr  mth
0     CA101NB           1  2020    1
1     DL135AA           1  2020    1
2         NaN           3  2020    1
3         NaN           3  2020    1
4         NaN           3  2020    1
..        ...         ...   ...  ...
307   BT423HA           4  2020    1
308   BT448RN           4  2020    1
309   BT449AA           4  2020    1
310   BT619ND           4  2020    1
311   IM4 4QE           7  2020    1

[312 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
379  380   1100                           2 Sisters Food Group Ltd
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
379     Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                tradingname_lcase  count  \
0    2020    1          frankbirdpoultrylimited      2
1    2020    1       joesimpsontafsimpsonandson      2
2    2019   12                              NaN      2
379  2020    1         2sistersfoodgrouplimited      2
3    2020    1  anglobeefprocessorsuktaabpperth      2
..    ...  ...                              ...    ...
336  2020    1          mckeownfinefoodslimited      2
337  2020    1                    kearnspoultry      2
338  2020    1                  rockvalepoultry      2
339  2019    8                              NaN      1
361  2020    1                   isleofmanmeats      2

                                                tokens  \
0                               [frank, bird, poultry]
1                  [joe, simpson, ta, f, simpson, son]
2    [2, sisters, poultry, ta, 2, sisters, coupar, ...
379                          [2, sisters, food, group]
3        [anglo, beef, processors, uk, ta, abp, perth]
..                                                 ...
336                             [mckeown, fine, foods]
337                                  [kearns, poultry]
338                                [rockvale, poultry]
339                    [state, of, guernsey, abattoir]
361                             [isle, of, man, meats]

                                            prevtokens    jd samename
0                               [frank, bird, poultry]  0.00      yes
1                  [joe, simpson, ta, f, simpson, son]  0.00      yes
2                                                  NaN   NaN      NaN
379  [2, sisters, poultry, ta, 2, sisters, coupar, ...  0.75       no
3        [anglo, beef, processors, uk, ta, abp, perth]  0.00      yes
..                                                 ...   ...      ...
336                             [mckeown, fine, foods]  0.00      yes
337                                  [kearns, poultry]  0.00      yes
338                                [rockvale, poultry]  0.00      yes
339                                                NaN   NaN      NaN
361                             [isle, of, man, meats]  0.00      yes

[381 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2020    1    1
1    1077  2020    1    2
379  1100  2020    1  380
3    1101  2020    1    4
4    1103  2020    1    5
..    ...   ...  ...  ...
335  9509  2020    1  336
336  9518  2020    1  337
337  9552  2020    1  338
338  9554  2020    1  339
361  IOM1  2020    1  362

[312 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-february-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
376  377  7226                                    Euro Farm Wales
377  378  2750                        Cranswick Country Foods Eye
378  379  5008                               Shazan Foods Limited
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
376    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
377           Yaxley   IP238BW           1            yes  612907.0  274817.0
378              Eye   IP237AJ           1            yes  614371.0  273759.0
379     Coupar Angus      None           3            yes       NaN       NaN
380         Barnsley   S75 3DR           1            yes       NaN       NaN

       yr  mth
0    2020    1
1    2020    1
2    2019   12
3    2020    1
4    2020    1
..    ...  ...
376  2020    1
377  2020    1
378  2020    1
379  2020    1
380  2020    1

[381 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                              tradingname              town  \
0   NaN  1007                 Frank Bird (Poultry) Ltd           Penrith
1   NaN  1077      Joe Simpson (T/A F Simpson and Son)   Bishop Auckland
2   NaN  1100                 2 Sisters Food Group Ltd      Coupar Angus
3   NaN  1101   Anglo Beef Processors UK T/A ABP Perth             Perth
4   NaN  1103  Neerock Limited (T/A Woodhead Brothers)           Turriff
..   ..   ...                                      ...               ...
305 NaN  9509                       Moy Park Ballymena  BALLYMENA
306 NaN  9518                   McKeown Fine Foods Ltd         BALLYMENA
307 NaN  9552                           Kearns Poultry        BALLYMENA
308 NaN  9554                         Rockvale Poultry            ARMAGH
309 NaN  IOM1                        Isle of Man Meats       Isle of Man

    slaughterhouse         x         y                 tradingname_lcase  \
0              yes  357081.0  533629.0           frankbirdpoultrylimited
1              yes  412803.0  524280.0        joesimpsontafsimpsonandson
2              yes       NaN       NaN          2sistersfoodgrouplimited
3              yes       NaN       NaN   anglobeefprocessorsuktaabpperth
4              yes       NaN       NaN  neerocklimitedtawoodheadbrothers
..             ...       ...       ...                               ...
305            yes       NaN       NaN                  moyparkballymena
306            yes       NaN       NaN           mckeownfinefoodslimited
307            yes       NaN       NaN                     kearnspoultry
308            yes       NaN       NaN                   rockvalepoultry
309            yes       NaN       NaN                    isleofmanmeats

    postcode7  country_id    yr  mth
0     CA101NB           1  2020    2
1     DL135AA           1  2020    2
2         NaN           3  2020    2
3         NaN           3  2020    2
4         NaN           3  2020    2
..        ...         ...   ...  ...
305   BT423HA           4  2020    2
306   BT448RN           4  2020    2
307   BT449AA           4  2020    2
308   BT619ND           4  2020    2
309   IM4 4QE           7  2020    2

[310 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
379  380   1100                           2 Sisters Food Group Ltd
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
379     Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                tradingname_lcase  count  \
0    2020    2          frankbirdpoultrylimited      2
1    2020    2       joesimpsontafsimpsonandson      2
2    2019   12                              NaN      3
379  2020    2         2sistersfoodgrouplimited      3
3    2020    2  anglobeefprocessorsuktaabpperth      2
..    ...  ...                              ...    ...
336  2020    2          mckeownfinefoodslimited      2
337  2020    2                    kearnspoultry      2
338  2020    2                  rockvalepoultry      2
339  2019    8                              NaN      1
361  2020    2                   isleofmanmeats      2

                                            tokens  \
0                           [frank, bird, poultry]
1              [joe, simpson, ta, f, simpson, son]
2                                              NaN
379                      [2, sisters, food, group]
3    [anglo, beef, processors, uk, ta, abp, perth]
..                                             ...
336                         [mckeown, fine, foods]
337                              [kearns, poultry]
338                            [rockvale, poultry]
339                [state, of, guernsey, abattoir]
361                         [isle, of, man, meats]

                                        prevtokens   jd samename
0                           [frank, bird, poultry]  0.0      yes
1              [joe, simpson, ta, f, simpson, son]  0.0      yes
2                                              NaN  NaN      NaN
379                      [2, sisters, food, group]  0.0      yes
3    [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
..                                             ...  ...      ...
336                         [mckeown, fine, foods]  0.0      yes
337                              [kearns, poultry]  0.0      yes
338                            [rockvale, poultry]  0.0      yes
339                                            NaN  NaN      NaN
361                         [isle, of, man, meats]  0.0      yes

[381 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2020    2    1
1    1077  2020    2    2
379  1100  2020    2  380
3    1101  2020    2    4
4    1103  2020    2    5
..    ...   ...  ...  ...
335  9509  2020    2  336
336  9518  2020    2  337
337  9552  2020    2  338
338  9554  2020    2  339
361  IOM1  2020    2  362

[310 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-march-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
376  377  7226                                    Euro Farm Wales
377  378  2750                        Cranswick Country Foods Eye
378  379  5008                               Shazan Foods Limited
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
376    Pembrokeshire   SA624BS           2            yes  196290.0  218525.0
377           Yaxley   IP238BW           1            yes  612907.0  274817.0
378              Eye   IP237AJ           1            yes  614371.0  273759.0
379     Coupar Angus      None           3            yes       NaN       NaN
380         Barnsley   S75 3DR           1            yes       NaN       NaN

       yr  mth
0    2020    2
1    2020    2
2    2019   12
3    2020    2
4    2020    2
..    ...  ...
376  2020    2
377  2020    2
378  2020    2
379  2020    2
380  2020    2

[381 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                              tradingname              town  \
0   NaN  1007                 Frank Bird (Poultry) Ltd           Penrith
1   NaN  1077      Joe Simpson (T/A F Simpson and Son)   Bishop Auckland
2   NaN  1100                 2 Sisters Food Group Ltd      Coupar Angus
3   NaN  1101   Anglo Beef Processors UK T/A ABP Perth             Perth
4   NaN  1103  Neerock Limited (T/A Woodhead Brothers)           Turriff
..   ..   ...                                      ...               ...
304 NaN  9509                       Moy Park Ballymena  BALLYMENA
305 NaN  9518                   McKeown Fine Foods Ltd         BALLYMENA
306 NaN  9552                           Kearns Poultry        BALLYMENA
307 NaN  9554                         Rockvale Poultry            ARMAGH
308 NaN  IOM1                        Isle of Man Meats       Isle of Man

    slaughterhouse         x         y                 tradingname_lcase  \
0              yes  357081.0  533629.0           frankbirdpoultrylimited
1              yes  412803.0  524280.0        joesimpsontafsimpsonandson
2              yes       NaN       NaN          2sistersfoodgrouplimited
3              yes       NaN       NaN   anglobeefprocessorsuktaabpperth
4              yes       NaN       NaN  neerocklimitedtawoodheadbrothers
..             ...       ...       ...                               ...
304            yes       NaN       NaN                  moyparkballymena
305            yes       NaN       NaN           mckeownfinefoodslimited
306            yes       NaN       NaN                     kearnspoultry
307            yes       NaN       NaN                   rockvalepoultry
308            yes       NaN       NaN                    isleofmanmeats

    postcode7  country_id    yr  mth
0     CA101NB           1  2020    3
1     DL135AA           1  2020    3
2         NaN           3  2020    3
3         NaN           3  2020    3
4         NaN           3  2020    3
..        ...         ...   ...  ...
304   BT423HA           4  2020    3
305   BT448RN           4  2020    3
306   BT449AA           4  2020    3
307   BT619ND           4  2020    3
308   IM4 4QE           7  2020    3

[309 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
379  380   1100                           2 Sisters Food Group Ltd
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
379     Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                tradingname_lcase  count  \
0    2020    3          frankbirdpoultrylimited      2
1    2020    3       joesimpsontafsimpsonandson      2
2    2019   12                              NaN      3
379  2020    3         2sistersfoodgrouplimited      3
3    2020    3  anglobeefprocessorsuktaabpperth      2
..    ...  ...                              ...    ...
336  2020    3          mckeownfinefoodslimited      2
337  2020    3                    kearnspoultry      2
338  2020    3                  rockvalepoultry      2
339  2019    8                              NaN      1
361  2020    3                   isleofmanmeats      2

                                            tokens  \
0                           [frank, bird, poultry]
1              [joe, simpson, ta, f, simpson, son]
2                                              NaN
379                      [2, sisters, food, group]
3    [anglo, beef, processors, uk, ta, abp, perth]
..                                             ...
336                         [mckeown, fine, foods]
337                              [kearns, poultry]
338                            [rockvale, poultry]
339                [state, of, guernsey, abattoir]
361                         [isle, of, man, meats]

                                        prevtokens   jd samename
0                           [frank, bird, poultry]  0.0      yes
1              [joe, simpson, ta, f, simpson, son]  0.0      yes
2                                              NaN  NaN      NaN
379                      [2, sisters, food, group]  0.0      yes
3    [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
..                                             ...  ...      ...
336                         [mckeown, fine, foods]  0.0      yes
337                              [kearns, poultry]  0.0      yes
338                            [rockvale, poultry]  0.0      yes
339                                            NaN  NaN      NaN
361                         [isle, of, man, meats]  0.0      yes

[382 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2020    3    1
1    1077  2020    3    2
379  1100  2020    3  380
3    1101  2020    3    4
4    1103  2020    3    5
..    ...   ...  ...  ...
335  9509  2020    3  336
336  9518  2020    3  337
337  9552  2020    3  338
338  9554  2020    3  339
361  IOM1  2020    3  362

[309 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-april-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
377  378  2750                        Cranswick Country Foods Eye
378  379  5008                               Shazan Foods Limited
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
377           Yaxley   IP238BW           1            yes  612907.0  274817.0
378              Eye   IP237AJ           1            yes  614371.0  273759.0
379     Coupar Angus      None           3            yes       NaN       NaN
380         Barnsley   S75 3DR           1            yes       NaN       NaN
381       Launceston   PL158QN           1            yes  220362.0   84902.0

       yr  mth
0    2020    3
1    2020    3
2    2019   12
3    2020    3
4    2020    3
..    ...  ...
377  2020    3
378  2020    3
379  2020    3
380  2020    3
381  2020    3

[382 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                              tradingname              town  \
0   NaN  1007                 Frank Bird (Poultry) Ltd           Penrith
1   NaN  1077      Joe Simpson (T/A F Simpson and Son)   Bishop Auckland
2   NaN  1100                 2 Sisters Food Group Ltd      Coupar Angus
3   NaN  1101   Anglo Beef Processors UK T/A ABP Perth             Perth
4   NaN  1103  Neerock Limited (T/A Woodhead Brothers)           Turriff
..   ..   ...                                      ...               ...
301 NaN  9509                       Moy Park Ballymena  BALLYMENA
302 NaN  9518                   McKeown Fine Foods Ltd         BALLYMENA
303 NaN  9552                           Kearns Poultry        BALLYMENA
304 NaN  9554                         Rockvale Poultry            ARMAGH
305 NaN  IOM1                        Isle of Man Meats       Isle of Man

    slaughterhouse         x         y                 tradingname_lcase  \
0              yes  357081.0  533629.0           frankbirdpoultrylimited
1              yes  412803.0  524280.0        joesimpsontafsimpsonandson
2              yes       NaN       NaN          2sistersfoodgrouplimited
3              yes       NaN       NaN   anglobeefprocessorsuktaabpperth
4              yes       NaN       NaN  neerocklimitedtawoodheadbrothers
..             ...       ...       ...                               ...
301            yes       NaN       NaN                  moyparkballymena
302            yes       NaN       NaN           mckeownfinefoodslimited
303            yes       NaN       NaN                     kearnspoultry
304            yes       NaN       NaN                   rockvalepoultry
305            yes       NaN       NaN                    isleofmanmeats

    postcode7  country_id    yr  mth
0     CA101NB           1  2020    4
1     DL135AA           1  2020    4
2         NaN           3  2020    4
3         NaN           3  2020    4
4         NaN           3  2020    4
..        ...         ...   ...  ...
301   BT423HA           4  2020    4
302   BT448RN           4  2020    4
303   BT449AA           4  2020    4
304   BT619ND           4  2020    4
305   IM4 4QE           7  2020    4

[306 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
379  380   1100                           2 Sisters Food Group Ltd
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
379     Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                tradingname_lcase  count  \
0    2020    4          frankbirdpoultrylimited      2
1    2020    4       joesimpsontafsimpsonandson      2
2    2019   12                              NaN      3
379  2020    4         2sistersfoodgrouplimited      3
3    2020    4  anglobeefprocessorsuktaabpperth      2
..    ...  ...                              ...    ...
336  2020    4          mckeownfinefoodslimited      2
337  2020    4                    kearnspoultry      2
338  2020    4                  rockvalepoultry      2
339  2019    8                              NaN      1
361  2020    4                   isleofmanmeats      2

                                            tokens  \
0                           [frank, bird, poultry]
1              [joe, simpson, ta, f, simpson, son]
2                                              NaN
379                      [2, sisters, food, group]
3    [anglo, beef, processors, uk, ta, abp, perth]
..                                             ...
336                         [mckeown, fine, foods]
337                              [kearns, poultry]
338                            [rockvale, poultry]
339                [state, of, guernsey, abattoir]
361                         [isle, of, man, meats]

                                        prevtokens   jd samename
0                           [frank, bird, poultry]  0.0      yes
1              [joe, simpson, ta, f, simpson, son]  0.0      yes
2                                              NaN  NaN      NaN
379                      [2, sisters, food, group]  0.0      yes
3    [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
..                                             ...  ...      ...
336                         [mckeown, fine, foods]  0.0      yes
337                              [kearns, poultry]  0.0      yes
338                            [rockvale, poultry]  0.0      yes
339                                            NaN  NaN      NaN
361                         [isle, of, man, meats]  0.0      yes

[383 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2020    4    1
1    1077  2020    4    2
379  1100  2020    4  380
3    1101  2020    4    4
4    1103  2020    4    5
..    ...   ...  ...  ...
335  9509  2020    4  336
336  9518  2020    4  337
337  9552  2020    4  338
338  9554  2020    4  339
361  IOM1  2020    4  362

[306 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-may-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
378  379  5008                               Shazan Foods Limited
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
3              Perth      None           3            yes       NaN       NaN
4            Turriff      None           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
378              Eye   IP237AJ           1            yes  614371.0  273759.0
379     Coupar Angus      None           3            yes       NaN       NaN
380         Barnsley   S75 3DR           1            yes       NaN       NaN
381       Launceston   PL158QN           1            yes  220362.0   84902.0
382          Ashford   TN270JL           1            yes  595437.0  148950.0

       yr  mth
0    2020    4
1    2020    4
2    2019   12
3    2020    4
4    2020    4
..    ...  ...
378  2020    4
379  2020    4
380  2020    4
381  2020    4
382  2020    4

[383 rows x 11 columns]

Second dataframe (post processing)
================
     id appno                              tradingname              town  \
0   NaN  1007                 Frank Bird (Poultry) Ltd           Penrith
1   NaN  1077      Joe Simpson (T/A F Simpson and Son)   Bishop Auckland
2   NaN  1100                 2 Sisters Food Group Ltd      Coupar Angus
3   NaN  1101   Anglo Beef Processors UK T/A ABP Perth             Perth
4   NaN  1103  Neerock Limited (T/A Woodhead Brothers)           Turriff
..   ..   ...                                      ...               ...
300 NaN  9509                       Moy Park Ballymena  BALLYMENA
301 NaN  9518                   McKeown Fine Foods Ltd         BALLYMENA
302 NaN  9552                           Kearns Poultry        BALLYMENA
303 NaN  9554                         Rockvale Poultry            ARMAGH
304 NaN  IOM1                        Isle of Man Meats       Isle of Man

    slaughterhouse         x         y                 tradingname_lcase  \
0              yes  357081.0  533629.0           frankbirdpoultrylimited
1              yes  412803.0  524280.0        joesimpsontafsimpsonandson
2              yes       NaN       NaN          2sistersfoodgrouplimited
3              yes       NaN       NaN   anglobeefprocessorsuktaabpperth
4              yes       NaN       NaN  neerocklimitedtawoodheadbrothers
..             ...       ...       ...                               ...
300            yes       NaN       NaN                  moyparkballymena
301            yes       NaN       NaN           mckeownfinefoodslimited
302            yes       NaN       NaN                     kearnspoultry
303            yes       NaN       NaN                   rockvalepoultry
304            yes       NaN       NaN                    isleofmanmeats

    postcode7  country_id    yr  mth
0     CA101NB           1  2020    5
1     DL135AA           1  2020    5
2         NaN           3  2020    5
3         NaN           3  2020    5
4         NaN           3  2020    5
..        ...         ...   ...  ...
300   BT423HA           4  2020    5
301   BT448RN           4  2020    5
302   BT449AA           4  2020    5
303   BT619ND           4  2020    5
304   IM4 4QE           7  2020    5

[305 rows x 12 columns]


Combined dataframe (post processing)
================
      id  appno                                        tradingname  \
0      1   1007                           Frank Bird (Poultry) Ltd
1      2   1077                Joe Simpson (T/A F Simpson and Son)
2      3   1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
379  380   1100                           2 Sisters Food Group Ltd
3      4   1101             Anglo Beef Processors UK T/A ABP Perth
..   ...    ...                                                ...
336  337   9518                             McKeown Fine Foods Ltd
337  338   9552                                     Kearns Poultry
338  339   9554                                   Rockvale Poultry
339  340  GX401                         State of Guernsey Abattoir
361  362   IOM1                                  Isle of Man Meats

                town postcode7  country_id slaughterhouse         x         y  \
0            Penrith   CA101NB           1            yes  357081.0  533629.0
1    Bishop Auckland   DL135AA           1            yes  412803.0  524280.0
2       Coupar Angus      None           3            yes       NaN       NaN
379     Coupar Angus       NaN           3            yes       NaN       NaN
3              Perth       NaN           3            yes       NaN       NaN
..               ...       ...         ...            ...       ...       ...
336        BALLYMENA   BT448RN           4            yes       NaN       NaN
337       BALLYMENA    BT449AA           4            yes       NaN       NaN
338           ARMAGH   BT619ND           4            yes       NaN       NaN
339         Guernsey   GY2 4JN           5            yes       NaN       NaN
361      Isle of Man   IM4 4QE           7            yes       NaN       NaN

       yr  mth                tradingname_lcase  count  \
0    2020    5          frankbirdpoultrylimited      2
1    2020    5       joesimpsontafsimpsonandson      2
2    2019   12                              NaN      3
379  2020    5         2sistersfoodgrouplimited      3
3    2020    5  anglobeefprocessorsuktaabpperth      2
..    ...  ...                              ...    ...
336  2020    5          mckeownfinefoodslimited      2
337  2020    5                    kearnspoultry      2
338  2020    5                  rockvalepoultry      2
339  2019    8                              NaN      1
361  2020    5                   isleofmanmeats      2

                                            tokens  \
0                           [frank, bird, poultry]
1              [joe, simpson, ta, f, simpson, son]
2                                              NaN
379                      [2, sisters, food, group]
3    [anglo, beef, processors, uk, ta, abp, perth]
..                                             ...
336                         [mckeown, fine, foods]
337                              [kearns, poultry]
338                            [rockvale, poultry]
339                [state, of, guernsey, abattoir]
361                         [isle, of, man, meats]

                                        prevtokens   jd samename
0                           [frank, bird, poultry]  0.0      yes
1              [joe, simpson, ta, f, simpson, son]  0.0      yes
2                                              NaN  NaN      NaN
379                      [2, sisters, food, group]  0.0      yes
3    [anglo, beef, processors, uk, ta, abp, perth]  0.0      yes
..                                             ...  ...      ...
336                         [mckeown, fine, foods]  0.0      yes
337                              [kearns, poultry]  0.0      yes
338                            [rockvale, poultry]  0.0      yes
339                                            NaN  NaN      NaN
361                         [isle, of, man, meats]  0.0      yes

[384 rows x 17 columns]


Combined appno dataframe
------------------------
    appno    yr  mth   id
0    1007  2020    5    1
1    1077  2020    5    2
379  1100  2020    5  380
3    1101  2020    5    4
4    1103  2020    5    5
..    ...   ...  ...  ...
335  9509  2020    5  336
336  9518  2020    5  337
337  9552  2020    5  338
338  9554  2020    5  339
361  IOM1  2020    5  362

[305 rows x 4 columns]
Filename: approved-food-establishments-as-at-1-june-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-june-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-june-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-june-2020.csv'


Filename: approved-food-establishments-as-at-1-july-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-july-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-july-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-july-2020.csv'


Filename: approved-food-establishments-as-at-1-august-2020.csv

First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-august-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-august-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-august-2020.csv'


Filename: approved-food-establishments-as-at-1-september-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-september-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-september-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-september-2020.csv'


Filename: approved-food-establishments-as-at-1-october-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-october-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-october-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-october-2020.csv'


Filename: approved-food-establishments-as-at-1-november-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-november-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-november-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-november-2020.csv'


Filename: approved-food-establishments-as-at-1-december-2020.csv
First dataframe (retrieved from DB)
===============
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y    yr  mth
0    533629.0  2020    5
1    524280.0  2020    5
2         NaN  2019   12
3         NaN  2020    5
4         NaN  2020    5
..        ...   ...  ...
379       NaN  2020    5
380       NaN  2020    5
381   84902.0  2020    5
382  148950.0  2020    5
383       NaN  2020    5

[384 rows x 11 columns]


There was error opening the file approved-food-establishments-as-at-1-december-2020.csv.
[Errno 2] File b'monthly_approved_premises/approved-food-establishments-as-at-1-december-2020.csv' does not exist: b'monthly_approved_premises/approved-food-establishments-as-at-1-december-2020.csv'


All done

## Retrieve data from database and pickle it

In [23]:
# Path to directory
phjPklPath = './outputs'

# Define queries
phjAppnoQuery = "SELECT * FROM `appno`"
phjAbattoirQuery = "SELECT * FROM `abattoir`"

# Retrieve Appno data
# ===================
phjRetrievedAppnoDF = pd.read_sql(phjAppnoQuery,
                                  con = phjSQLEng)

print('Retrieved Appno data from database')
print('----------------------------------')
print(phjRetrievedAppnoDF)
print(phjRetrievedAppnoDF.dtypes)
print('\n')

# Export as pickle and csv
phjRetrievedAppnoDF.to_pickle(Path('/'.join([phjPklPath,'phjLatestAppno.pkl'])))
phjRetrievedAppnoDF.to_csv(Path('/'.join([phjPklPath,'phjLatestAppno.csv'])),
                           header = True,
                           index = False)


# Retrieve Abattoir data
# ======================
phjRetrievedAbattoirDF = pd.read_sql(phjAbattoirQuery,
                                     con = phjSQLEng)

print('Retrieved Abattoir data from database')
print('-------------------------------------')
print(phjRetrievedAbattoirDF)
print(phjRetrievedAbattoirDF.dtypes)

# Export as pickle and csv
phjRetrievedAbattoirDF.to_pickle(Path('/'.join([phjPklPath,'phjLatestAbattoir.pkl'])))
phjRetrievedAbattoirDF.to_csv(Path('/'.join([phjPklPath,'phjLatestAbattoir.csv'])),
                              header = True,
                              index = False)

Retrieved Appno data from database
----------------------------------
     appno    yr  mth  abattoir_id
0     1007  2018    1            1
1     1007  2018    2            1
2     1007  2018    3            1
3     1007  2018    4            1
4     1007  2018    5            1
...    ...   ...  ...          ...
9302  IOM1  2020    1          362
9303  IOM1  2020    2          362
9304  IOM1  2020    3          362
9305  IOM1  2020    4          362
9306  IOM1  2020    5          362

[9307 rows x 4 columns]
appno          object
yr              int64
mth             int64
abattoir_id     int64
dtype: object


Retrieved Abattoir data from database
-------------------------------------
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y  last_yr  last_mth
0    533629.0     2020         5
1    524280.0     2020         5
2         NaN     2019        12
3         NaN     2020         5
4         NaN     2020         5
..        ...      ...       ...
379       NaN     2020         5
380       NaN     2020         5
381   84902.0     2020         5
382  148950.0     2020         5
383       NaN     2020         5

[384 rows x 11 columns]
id                  int64
appno              object
tradingname        object
town               object
postcode7          object
country_id          int64
slaughterhouse     object
x                 float64
y                 float64
last_yr             int64
last_mth            int64
dtype: object

In [24]:
# Test reading pickle
phjRetrievedPklAppnoDF = pd.read_pickle(Path('/'.join([phjPklPath,'phjLatestAppno.pkl'])))

print('Retrieved pickled Appno data')
print('----------------------------')
print(phjRetrievedPklAppnoDF)
print(phjRetrievedPklAppnoDF.dtypes)
print('\n')

phjRetrievedPklAbattoirDF = pd.read_pickle(Path('/'.join([phjPklPath,'phjLatestAbattoir.pkl'])))

print('Retrieved pickled Abattoir data')
print('-------------------------------')
print(phjRetrievedPklAbattoirDF)
print(phjRetrievedPklAbattoirDF.dtypes)
print('\n')

Retrieved pickled Appno data
----------------------------
     appno    yr  mth  abattoir_id
0     1007  2018    1            1
1     1007  2018    2            1
2     1007  2018    3            1
3     1007  2018    4            1
4     1007  2018    5            1
...    ...   ...  ...          ...
9302  IOM1  2020    1          362
9303  IOM1  2020    2          362
9304  IOM1  2020    3          362
9305  IOM1  2020    4          362
9306  IOM1  2020    5          362

[9307 rows x 4 columns]
appno          object
yr              int64
mth             int64
abattoir_id     int64
dtype: object


Retrieved pickled Abattoir data
-------------------------------
      id appno                                        tradingname  \
0      1  1007                           Frank Bird (Poultry) Ltd
1      2  1077                Joe Simpson (T/A F Simpson and Son)
2      3  1100  2 Sisters Poultry Ltd (TA 2 Sisters Coupar Angus)
3      4  1101             Anglo Beef Processors UK T/A ABP Perth
4      5  1103            Neerock Limited (T/A Woodhead Brothers)
..   ...   ...                                                ...
379  380  1100                           2 Sisters Food Group Ltd
380  381  2762                                    H M Venison Ltd
381  382  2761                    Westcountry Premium Venison Ltd
382  383  2768                   Farm Fresh Quality Foods Co. Ltd
383  384  1160                                Millers of Speyside

                 town postcode7  country_id slaughterhouse         x  \
0             Penrith   CA101NB           1            yes  357081.0
1     Bishop Auckland   DL135AA           1            yes  412803.0
2        Coupar Angus      None           3            yes       NaN
3               Perth      None           3            yes       NaN
4             Turriff      None           3            yes       NaN
..                ...       ...         ...            ...       ...
379      Coupar Angus      None           3            yes       NaN
380          Barnsley   S75 3DR           1            yes       NaN
381        Launceston   PL158QN           1            yes  220362.0
382           Ashford   TN270JL           1            yes  595437.0
383  Grantown-on-Spey      None           3            yes       NaN

            y  last_yr  last_mth
0    533629.0     2020         5
1    524280.0     2020         5
2         NaN     2019        12
3         NaN     2020         5
4         NaN     2020         5
..        ...      ...       ...
379       NaN     2020         5
380       NaN     2020         5
381   84902.0     2020         5
382  148950.0     2020         5
383       NaN     2020         5

[384 rows x 11 columns]
id                  int64
appno              object
tradingname        object
town               object
postcode7          object
country_id          int64
slaughterhouse     object
x                 float64
y                 float64
last_yr             int64
last_mth            int64
dtype: object